<div class="container">
  <div class="row">
    <div class='col-sm-2'>
    </div>
    <div class="col-sm-8">
      <div class="forgot-email-container">
        <h2 class="section-title">Reset Your Password</h2>
        <form [formGroup]="forgotEmailForm" novalidate (ngSubmit)="onSubmit(forgotEmailForm.value)">
          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngFor="let validation of forgot_password_validation_messages.email">
              <mat-error class="error-message"
                *ngIf="forgotEmailForm.get('email').hasError(validation.type) && (forgotEmailForm.get('email').dirty || forgotEmailForm.get('email').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
          <button type="submit" class="btn btn-primary"
            [disabled]="!forgotEmailForm.valid">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
</div>