<div>

  <div class="logo-section">
    <a [routerLink]='["/"]'>
      <img src="/logo-and-slogan.png" alt="Birder">
    </a>

    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
      <a mat-tab-link routerLink="/about">About</a>
      <a mat-tab-link routerLink="/contact">Contact</a>
      <a mat-tab-link routerLink="/developer">Developer</a>
      <a mat-tab-link [active]="true">Technology</a>
      <a mat-tab-link routerLink="/future">Future</a>
    </nav>

  </div>


  <div class="technology-content">

    <div class="title">
      <h4>Technology</h4>
      <p>This page summarises the technology that is used to create <i>Birder</i>.</p>
      <p>See the <a routerLink="/developer">developer</a> page for information about the creator.</p>
    </div>

    <div class="main">

      <h4>The Technology Stack</h4>
      <p>Here is a summary of the technology used by Birder:</p>

      <div>
        <p><b>Client</b></p>
        <ul>
          <li>
            <a href='https://angular.io/' target="_">Angular</a> 13<sup>1</sup> and <a
              href='https://www.typescriptlang.org/' target="_">TypeScript</a>
            single-page application
          </li>

          <li>
            <a href='https://getbootstrap.com/' target="_">Bootstrap</a> and <a href="https://material.angular.io/"
              target="_">Angular Material</a> components libraries.
          </li>
        </ul>

        <p><b>Server</b></p>
        <ul>
          <li>
            <a href='https://get.asp.net/' target="_">ASP.NET 6</a><sup>2</sup> and <a
              href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx' target="_">C#</a> REST API
          </li>
          <li>
            <a href="https://docs.microsoft.com/en-us/azure/azure-sql/database/single-database-overview"
              target="_">Azure 'serverless' SQL Database</a>
          </li>
        </ul>

        <p><b>Deployment</b></p>
        <ul>
          <li>
            Hosted on the <a href='https://azure.microsoft.com/en-gb/overview/'>Azure</a> cloud platform in <a
              href='https://www.docker.com/'>Docker</a> containers
          </li>
        </ul>

        <small><sup>1</sup> Since 10<sup>th</sup> November 2021. Formerly Angular 6 &mdash; 12.</small>
        <small><br><sup>2</sup> Since 11<sup>th</sup> November 2021. Formerly .NET Core versions
          2.2, 3.0, 3.1, and .NET 5.</small>

      </div>




      <div class="">
        <hr>
        <h4>The Code</h4>
        <p>The code is open-source and it is available on GitHub. Contributions are welcome.
        </p>

        <iframe
          src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=watch&count=false&size=large&v=2"
          frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>


        <iframe
          src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=star&count=false&size=large"
          frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>

        <iframe
          src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=fork&count=false&size=large"
          frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>

      </div>
    </div>
  </div>
