app-network-sidebar {
    .container {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .loading-placeholder {
        text-align: center;
        .mat-spinner {
            margin: 0 auto;
        }
    }

    .summary {
        line-height: 0.7rem;
    }
}
