<div class="observation-delete-container">

  <ng-container *ngIf="observation$ | async as observation; else loadingOrError">

    <div class="observation-add-container">
      <h3 class="section-title">Delete Observation Report</h3>
      <!-- <div *ngIf="invalidAddObservation" class="alert alert-danger">
                <p>There is an error in your observation</p>
                <ul>
                  <li *ngFor="let error of errorReport.modelStateErrors">
                    {{ error }}
                  </li>
                </ul>
              </div> -->

      <p class="report-summary">You observed <b>{{observation.quantity}}</b> <a
          routerLink="/bird-detail/{{observation.bird.birdId}}">
          {{observation.bird.englishName}}
        </a> <small><em> {{ observation.bird.species }} </em></small>
        on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy' }}.
      </p>

      <div>
        <button class="btn btn-danger" (click)="deleteObservation(observation.observationId)">
          Delete
        </button>
      </div>
      <div>
        <small><em>Observation created at {{ observation.creationDate | date: 'dd/MM/yyyy HH:mm' }}; last updated at
            {{ observation.lastUpdateDate | date: 'dd/MM/yyyy HH:mm' }}</em></small>
      </div>
    </div>

    <div class="navigation-menu">
      <hr>
      <a routerLink="/observation-feed">
        Observation Feed
      </a>
      <a routerLink="/observation-edit/{{observation.observationId}}">
        | Edit
      </a>
      <a routerLink="/observation-detail/{{observation.observationId}}">
        | View
      </a>
      <a routerLink="/observation-add">
        | Add new
      </a>
    </div>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">

      <app-error-display [error]="errorObject"></app-error-display>

    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading observation...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>