<div class="container">
  <h3>British bird species</h3>

  <!-- Switch between list view or grid view -->
  <div *ngIf="!birds" class="loading">
    <p><em>Loading the list of British bird species...</em></p>
    <mat-spinner></mat-spinner>
  </div>

  <table class="table table-striped" *ngIf="birds">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">id</th>
        <th scope="col">Species</th>
        <th scope="col">Status / Population</th>
        <th scope="col">Risk Flag</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of birds; index as i">
        <!-- <th scope="row">{{ i + 1 }}</th> -->
        <td>{{ record.birdId }}</td>
        <td><a routerLink="/birds-detail/{{record.birdId}}">{{ record.englishName }}</a>
          <br><small><em>{{ record.species }}</em></small></td>
        <td><small>{{ record.btoStatusInBritain }} <br> {{ record.populationSize }}</small></td>
        <td [style.color]="record.conservationListColourCode"><small>{{ record.conservationStatus }}</small></td>
      </tr>
    </tbody>
  </table>


  <hr>
  <!-- <p>With boundary links:</p> -->
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="length" [(page)]="page" [pageSize]="25"
    [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>

  <hr>

  <pre>Current page: {{page}}</pre>

  <div>
    <small><br><sup>1</sup> The British list of 616 species occurring in Britain is kept by the British Ornithologists'
      Union (BOU). See <a href="https://www.bto.org/about-birds/birdfacts/british-list" target="_blank"> here</a> for
      the full data and the explanation.
      <br><sup>2</sup> Data are from <i>Birds of Conservation Concern 4: the population status of birds in the UK,
        Channel Islands and Isle of Man.</i> View a summary <a
        href="https://www.bto.org/sites/default/files/publications/state-of-uk-birds-2016.pdf" target="_blank">
        here</a>.</small>
  </div>
</div>





<!-- <div class="container"> -->
<!-- <h3>British bird species</h3>
  <p>Use mat-gris-list: https://material.angular.io/components/grid-list/examples
    <br>Switch between list view or grid view</p> -->

<!-- <div *ngIf="!dataSource" class="loading">
    <p><em>Loading the list of British bird species...</em></p>
    <mat-spinner></mat-spinner>
  </div> -->

<!-- <div class="row">
      <div class="col-1"></div>
    <div class="col-10">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)"
          placeholder="Type to filter or search the birds list...">
      </mat-form-field>
    </div>
    <div class="col-1"></div>
     <div class="col-3">
      <mat-checkbox (change)="hello($event)">Show all bird species</mat-checkbox>
    </div>
  </div> -->

<!-- Removed *ngIf check because it causes all sorts of problems and causes sort and paginater to be
undefined.  see https://stackoverflow.com/questions/48785965/angular-matpaginator-not-working -->

<!-- <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort> -->

<!-- Species names -->
<!-- <ng-container matColumnDef="englishName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
        <td mat-cell *matCellDef="let bird"><a routerLink="/birds-detail/{{bird.birdId}}"> {{ bird.englishName }}</a>
          <br><small><em>{{bird.species}}</em></small></td>
      </ng-container> -->

<!-- Status & population in UK -->
<!-- <ng-container matColumnDef="btoStatusInBritain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status in Britain / Population estimate in
          Britain<sup>1</sup> </th>
        <td mat-cell *matCellDef="let bird"> {{bird.btoStatusInBritain}}
          <br> {{ bird.populationSize }}
        </td>
      </ng-container> -->

<!-- Risk -->
<!-- <ng-container matColumnDef="conservationStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Risk Assessment<sup>2</sup> </th>
        <td mat-cell *matCellDef="let bird" [style.color]="bird.conservationListColourCode">
          {{bird.conservationStatus}} </td>
      </ng-container> -->

<!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let bird; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" [length]="length" (page)="onPaginateChange($event)"
      showFirstLastButtons></mat-paginator>
  </div>
  <div>
    <small><br><sup>1</sup> The British list of 616 species occurring in Britain is kept by the British Ornithologists'
      Union (BOU). See <a href="https://www.bto.org/about-birds/birdfacts/british-list" target="_blank"> here</a> for
      the full data and the explanation.
      <br><sup>2</sup> Data are from <i>Birds of Conservation Concern 4: the population status of birds in the UK,
        Channel Islands and Isle of Man.</i> View a summary <a
        href="https://www.bto.org/sites/default/files/publications/state-of-uk-birds-2016.pdf" target="_blank">
        here</a>.</small>
  </div>
</div> -->