<div class="birds-list-container">
  <h3>British bird species</h3>

  <div>
    <app-bird-select-species></app-bird-select-species>
  </div>

  <hr>

  <ng-container *ngIf="birds$ | async as birds; else loadingOrError">

    <h5>Birds list</h5>

    <!-- Switch between list view or grid view -->
    <p>
      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="speciesFilter"
        (change)="onChangeFilter(group.value)">
        <mat-button-toggle value="0" aria-label="Show common bird species" #tooltip="matTooltip"
          matTooltip="Show common bird species"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
          <mat-icon>filter</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="1" aria-label="Show all bird species" #tooltip="matTooltip"
          matTooltip="Show all bird species"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
          <mat-icon>filter_none</mat-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
      showing {{ speciesFilter === '0' ? 'the' : 'all'}} {{totalItems}} {{ speciesFilter === '0' ? 'common species' :
      'British species'}}
    </p>



    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <!-- <th scope="col"></th> -->
            <th scope="col">Species</th>
            <th scope="col">Status / Population<sup>1</sup></th>
            <th scope="col">Risk Flag<sup>2</sup></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of birds.items; index as i">
            <!-- <th scope="row">{{ i + 1 }}</th> -->
            <!-- <td>{{ record.birdId }}</td> -->
            <td><a routerLink="/bird-detail/{{record.birdId}}">{{ record.englishName }}</a>
              <br><small><em>{{ record.species }}</em></small>
            </td>
            <td><small>{{ record.btoStatusInBritain }} <br> {{ record.populationSize }}</small></td>
            <td [style.color]="record.conservationListColourCode"><small>{{ record.conservationStatus }}</small></td>
          </tr>
        </tbody>
      </table>

      <hr>
      <ngb-pagination class="d-flex justify-content-center" [collectionSize]="birds.totalItems" [(page)]="page"
        [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()">
      </ngb-pagination>
      <!-- <pre>Current page: {{page}}</pre> -->
      <hr>

      <div>
        <small><br><sup>1</sup> The British list of 616 species occurring in Britain is kept by the British
          Ornithologists'
          Union (BOU). See <a href="https://www.bto.org/about-birds/birdfacts/british-list" target="_blank"> here</a>
          for
          the full data and the explanation.
          <br><sup>2</sup> Data are from <i>Birds of Conservation Concern 4: the population status of birds in the UK,
            Channel Islands and Isle of Man.</i> View a summary <a
            href="https://www.bto.org/sites/default/files/publications/state-of-uk-birds-2016.pdf" target="_blank">
            here</a>.</small>
      </div>
    </div>
  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">

      <app-error-display [error]="errorObject"></app-error-display>

    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading bird species...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>