<div class="container">
  <h3>British bird species</h3>
  <!-- </div> -->

  <div *ngIf="!requesting; else loading">
    <ng-container *ngIf="birds; else error">

      <!-- Switch between list view or grid view -->
      <!-- <div *ngIf="!birds" class="loading">
    <p><em>Loading the list of British bird species...</em></p>
    <mat-spinner></mat-spinner>
  </div> -->

      <p>

        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="speciesFilter"
          (change)="onChangeFilter(group.value)">
          <mat-button-toggle value="0" aria-label="Show common bird species" #tooltip="matTooltip"
            matTooltip="Show common bird species"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container">
            <mat-icon>filter</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="1" aria-label="Show all bird species" #tooltip="matTooltip"
            matTooltip="Show all bird species"
            aria-label="Button that displays a tooltip that hides when scrolled out of the container">
            <mat-icon>filter_none</mat-icon>
          </mat-button-toggle>


        </mat-button-toggle-group>
        showing {{ speciesFilter === '0' ? 'the' : 'all'}} {{totalItems}} {{ speciesFilter === '0' ? 'common species' :
        'British species'}}
      </p>

      <div *ngIf="birds">
        <table class="table table-striped">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <!-- <th scope="col"></th> -->
              <th scope="col">Species</th>
              <th scope="col">Status / Population<sup>1</sup></th>
              <th scope="col">Risk Flag<sup>2</sup></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of birds; index as i">
              <!-- <th scope="row">{{ i + 1 }}</th> -->
              <!-- <td>{{ record.birdId }}</td> -->
              <td><a routerLink="/birds-detail/{{record.birdId}}">{{ record.englishName }}</a>
                <br><small><em>{{ record.species }}</em></small>
              </td>
              <td><small>{{ record.btoStatusInBritain }} <br> {{ record.populationSize }}</small></td>
              <td [style.color]="record.conservationListColourCode"><small>{{ record.conservationStatus }}</small></td>
            </tr>
          </tbody>
        </table>

        <hr>
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
          [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="changePage()">
        </ngb-pagination>
        <!-- <pre>Current page: {{page}}</pre> -->
        <hr>

        <div>
          <small><br><sup>1</sup> The British list of 616 species occurring in Britain is kept by the British
            Ornithologists'
            Union (BOU). See <a href="https://www.bto.org/about-birds/birdfacts/british-list" target="_blank"> here</a>
            for
            the full data and the explanation.
            <br><sup>2</sup> Data are from <i>Birds of Conservation Concern 4: the population status of birds in the UK,
              Channel Islands and Isle of Man.</i> View a summary <a
              href="https://www.bto.org/sites/default/files/publications/state-of-uk-birds-2016.pdf" target="_blank">
              here</a>.</small>
        </div>
      </div>
    </ng-container>

    <ng-template #error>
      <div class="container">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>We're sorry!</strong> There is a problem getting the birds list.
          </ngb-alert>
          <!-- ToDo: reload button here? -->
        </p>
      </div>
    </ng-template>

  </div>


  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading bird species...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>