<div class="container">

  <div>

    <img src="https://birderstorage.blob.core.windows.net/domain/Birder-Logo-With-Text.png" alt="Birder">

  </div>

  <div>
    <h5>The technology stack</h5>

    <ul>
      <li>
        <a href='https://get.asp.net/'>ASP.NET 5</a> and <a
          href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> server-side API<sup>1</sup>
      </li>
      <li>
        <a href='https://angular.io/'>Angular</a> and <a href='https://www.typescriptlang.org/'>TypeScript</a>
        client-side application<sup>2</sup> with <a href='https://getbootstrap.com/'>Bootstrap</a> layout and styling
      </li>

      <li>
        Hosted on <a href='https://azure.microsoft.com/en-gb/overview/'>Azure</a> with <a
          href='https://www.docker.com/'>Docker</a>
      </li>
    </ul>


    <h6>The source code is available on GitHub to view or to download, and you can 'fork' if you want to contribute:
    </h6>
    <!-- GitHub buttons; see: https://ghbtns.com/ -->
    <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=fork&count=false&size=large"
      frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=star&count=false&size=large"
      frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>

    <iframe
      src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=watch&count=false&size=large&v=2"
      frameborder="0" scrolling="0" width="170" height="30" title="GitHub"></iframe>

    <!-- <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&type=follow&count=true&size=large"
      frameborder="0" scrolling="0" width="230" height="30" title="GitHub"></iframe> -->

  </div>

  <div>
    <br>
    <small><br><sup>1</sup> Since 13<sup>th</sup> November 2020, this software uses .NET 5. ASP.NET Core versions 2.2,
      3.0
      and 3.1 were previously used.
      <br><sup>2</sup> Since 15<sup>th</sup> May 2021, this website uses Angular 12. Angular versions 6, 7, 8, 9, 10,
      and
      11 were previously
      used.</small>
  </div>

</div>