<div>

  <div class="logo-section">
    <a [routerLink]='["/"]'>
      <img src="https://birderstorage.blob.core.windows.net/domain/Birder-Logo-With-Text.png" alt="Birder">
    </a>


    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
      <a mat-tab-link [active]="true">About</a>
      <a mat-tab-link routerLink="/contact">Contact</a>
      <a mat-tab-link routerLink="/developer">Developer</a>
      <a mat-tab-link routerLink="/technology">Technology</a>
      <a mat-tab-link routerLink="/future">Future</a>
    </nav>

  </div>

  <div class="header-section">

    <!-- <h4>About</h4> -->

    <p><span class="italics">Birder</span> is a free website for logging, sharing, and analysing bird observations.</p>

  </div>

  <div>
    <app-features></app-features>
  </div>

</div>