app-about {
  .logo-section {
    text-align: center;
    margin: 1% 3%;
  }

  text-align: center;

  //medium screen size and below
  @media only screen and (max-width: 992px) {

  }

  @media only screen and (min-width: 992px) {

  }
}
