<div>

  <ng-container *ngIf="(_service.getTop | async)  as analysis; else loadingOrError">
    <!-- *ngIf="analysis; else noItem"> -->
    <div class="container">
      <h4 class="container">Your Top Species</h4>

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav nav-pills nav-fill">

        <li [ngbNavItem]="1" [destroyOnHide]="false">
          <a ngbNavLink>30 days</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="analysis.topMonthlyObservations.length; else noItems">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Species</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of analysis.topMonthlyObservations; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td><a routerLink="/bird-detail/{{record.birdId}}">{{ record.name }}</a></td>
                    <td>{{ record.count | number }}</td>
                  </tr>
                </tbody>
              </table>

            </ng-container>

            <ng-template #noItems>
              <p>
                <ngb-alert type="warning" [dismissible]="false">
                  You have not yet logged any observations this month...<br>
                  <a routerLink="/observation-add">Click here</a> to add one
                </ngb-alert>
              </p>
            </ng-template>

          </ng-template>
        </li>

        <li [ngbNavItem]="2" [destroyOnHide]="false">
          <a ngbNavLink>All time</a>
          <ng-template ngbNavContent>
            <ng-container *ngIf="analysis.topObservations.length; else noItems">

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Species</th>
                    <th scope="col">Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let record of analysis.topObservations; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td><a routerLink="/bird-detail/{{record.birdId}}">{{ record.name }}</a></td>
                    <td>{{ record.count | number }}</td>
                  </tr>
                </tbody>
              </table>

            </ng-container>

            <ng-template #noItems>
              <p>
                <ngb-alert type="warning" [dismissible]="false">
                  You have not yet logged any observations... <br>
                  <a routerLink="/observation-add">Click here</a> to add your first one
                </ngb-alert>
              </p>
            </ng-template>

          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>

      <small><em> See the full list in your
          <a routerLink="/life-list/{{username}}">Life List</a> page</em></small>

    </div>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="(_service.isError | async); else loading">
      <!-- <app-error-display [error]="errorObject"></app-error-display> -->
      <p>error</p>
      <button data-testid="reload-button" (click)="reload()">Retry</button>
    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="loading-placeholder">
      <p><em>Loading...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>
