app-info-top-observations {
    .container {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .bird {
        display: block;
        line-height: 0%;
    }

    .loading {
        text-align: center;
    }


    .table {
        text-align: left;
    }
}
