<div class="container">
  <h4>British Birds</h4>
  <p>This page is underdevelopment. You will eventually be able to filter the list and adjust the results per page.
  <br>Use mat-gris-list: https://material.angular.io/components/grid-list/examples
  <br>Switch between list view or grid view</p>

  <div *ngIf="!birds" class="loading">
    <p><em>Loading the list of British bird species...</em></p>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="birds">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Species</th>
          <th scope="col">Status / Population</th>
          <th scope="col">Risk Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of birds.results; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td><a routerLink="/birds-detail/{{record.birdId}}">{{ record.englishName }}</a>
            <br><small><em>{{ record.species }}</em></small></td>
          <td><small>{{ record.btoStatusInBritain }} <br> {{ record.populationSize }}</small></td>
          <td><small>{{ record.conservationStatus }}</small></td>
        </tr>
      </tbody>
    </table>
  </div>
  <mat-paginator [length]="birds.rowCount" [pageSize]="birds.pageSize" [pageSizeOptions]="[3, 5, 10]"
      (page)="pageEvent = handlePage($event)"></mat-paginator>
</div>