<div *ngIf="!observation" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="observation">
  <div class="row">
    <div class='col-sm-1'></div>
    <div class="col-sm-10">
      <div class="observation-add-container">
        <h3 class="section-title">Observation Report</h3>
        <!-- <div *ngIf="invalidAddObservation" class="alert alert-danger">
                <p>There is an error in your observation</p>
                <ul>
                  <li *ngFor="let error of errorReport.modelStateErrors">
                    {{ error }}
                  </li>
                </ul>
              </div> -->

        <p class="report-summary"><a routerLink="/user-profile/{{observation.user.userName}}">
            {{observation.user.userName === user.userName ? 'You' : observation.user.userName}}
          </a> observed <b>{{observation.quantity}}</b> <a routerLink="/birds-detail/{{observation.bird.birdId}}">
            {{observation.bird.englishName}}
          </a> <small><em> {{ observation.bird.species }} </em></small>
          <br>on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy' }}
        </p>


        <div class="example-headers-align">
          <mat-expansion-panel [expanded]="_album.length>0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Photographs
              </mat-panel-title>
              <mat-panel-description>
                {{ _album.length > 1 ? _album.length + ' photos' : 'No photos'}}
                <mat-icon>add_photo_alternate</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!--  -->
            <ng-container *ngIf="_album.length>0; else noItems">
              <div class="photo-gallery">
                <div *ngFor="let image of _album; let i=index">
                  <img [src]="image.thumb" (click)="open(i)" />
                </div>
              </div>
              <div class="content-right">
                <a class="btn btn-success btn-sm" *ngIf="observation.user.userName === user.userName"
                  routerLink="/observation-manage-photos/{{observation.observationId}}">Add or Remove Photos</a>
              </div>
            </ng-container>
            <ng-template #noItems>
              <p><em>There are no photographs attached to this observation...</em></p>
              <div>
                <a class="btn btn-success btn-sm" *ngIf="observation.user.userName === user.userName"
                  routerLink="/observation-manage-photos/{{observation.observationId}}">Add or Remove Photos</a>
              </div>
            </ng-template>
            <!--  -->

          </mat-expansion-panel>
          <!--  -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Location
              </mat-panel-title>
              <mat-panel-description>
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                {{ geolocation }}
                <mat-icon>add_location</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- Map start -->
            <div>
              <!-- <p *ngIf="geoError">
                      <ngb-alert [dismissible]="true" [type]="'danger'" (close)="closeAlert()">
                        <strong>Warning!</strong> Better check yourself, you're not looking too good.
                      </ngb-alert>
                    </p> -->

              <!-- <agm-map [latitude]="observation?.locationLatitude" [longitude]="observation?.locationLongitude"
                [zoom]="8" [disableDefaultUI]="false" [zoomControl]="true">
                <agm-marker [latitude]="observation?.locationLatitude" [longitude]="observation?.locationLongitude">
                  <agm-info-window [isOpen]="true"><b>{{observation.quantity}} {{observation.bird.englishName}}</b>
                    <br>Observed at {{ geolocation }}</agm-info-window>
                </agm-marker>
              </agm-map> -->

              <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
                <map-marker #markerElement [position]="center" (mapClick)="openInfo(markerElement)">
                  <!-- <map-info-window>hello</map-info-window> -->
                </map-marker>
                <map-info-window>MyContent</map-info-window>
              </google-map>

              <!-- [label]="marker.label"
              [title]="marker.title"
              [options]="marker.options" -->


              <div *ngIf="observation.user.userName === user.userName">

                <mat-icon color="primary">info</mat-icon><span class="aligned-with-icon"><small><em>You can change the
                      location in
                      the <a routerLink="/observation-edit/{{observation.observationId}}">edit observation</a>
                      page</em></small></span>
              </div>

            </div>
            <!-- Map end -->
          </mat-expansion-panel>
          <!--  -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Notes
              </mat-panel-title>
              <mat-panel-description>
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
                <!-- Add general/specific notes on the observation -->
                <small></small>
                <mat-icon>create</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Notes start -->
            <mat-form-field class="full-width">
              <textarea matInput type="noteGeneral" placeholder="General comments"
                disabled>{{observation.noteGeneral}}</textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput type="noteHabitat" placeholder="Comments on habitat"
                disabled>{{ observation.noteHabitat }}</textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput type="noteWeather" placeholder="Comments on weather"
                disabled>{{ observation.noteWeather }}</textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput type="noteAppearance" placeholder="Comments on appearance"
                disabled>{{ observation.noteAppearance }}</textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput type="noteBehaviour" placeholder="Comments on behaviour"
                disabled>{{ observation.noteBehaviour }}</textarea>
            </mat-form-field>

            <mat-form-field class="full-width">
              <textarea matInput type="noteVocalisation" placeholder="Comments on song"
                disabled>{{ observation.noteVocalisation }}</textarea>
            </mat-form-field>
            <!-- Notes end -->
          </mat-expansion-panel>
          <!--  -->
          <!-- </mat-accordion> -->
          <div>
            <small><em>Observation created at {{ observation.creationDate | date: 'dd/MM/yyyy HH:mm' }}; last updated at
                {{ observation.lastUpdateDate | date: 'dd/MM/yyyy HH:mm' }}</em></small>
          </div>
        </div>

        <div class="content-right">
          <hr>
          <a [routerLink]="" (click)="goBack()">Go Back</a>
          <a *ngIf="observation.user.userName === user.userName"
            routerLink="/observation-manage-photos/{{observation.observationId}}">
            | Manage Photos
          </a>
          <a *ngIf="observation.user.userName === user.userName"
            routerLink="/observation-edit/{{observation.observationId}}">
            | Edit
          </a>
          <a *ngIf="observation.user.userName === user.userName"
            routerLink="/observation-delete/{{observation.observationId}}">
            | Delete
          </a>
        </div>
      </div>
      <div class='col-sm-1'></div>
    </div>
  </div>