app-observation-detail {
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-panel-description-text {
    font-size: small;
  }

  .mat-icon {
    vertical-align: middle;
  }

  .map-info {
    margin-top: 10px;
    text-align: center;
  }

  .created-updated-dates {
    text-align: center;
  }

  .navigation-menu {
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .observation-detail-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .observation-detail-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .observation-detail-container {
      // background: #babba9; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 1%; //(top, bottom) / (right, left)
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) {
  // }
}
