<div class="observation-detail-container">

  <ng-container *ngIf="observation$ | async as observation; else loadingOrError">

    <div class="observation-add-container">
      <h3 class="section-title">Observation Report</h3>
      <p class="report-summary"><a routerLink="/user-profile/{{observation.user.userName}}">
          {{observation.user.userName === user.userName ? 'You' : observation.user.userName}}
        </a> observed <b>{{observation.quantity}}</b> <a routerLink="/bird-detail/{{observation.bird.birdId}}">
          {{observation.bird.englishName}}
        </a> <small><em> {{ observation.bird.species }} </em></small>
        on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' HH:mm' }}.
      </p>

      <div class="example-headers-align">
        <!--  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Location
            </mat-panel-title>
            <mat-panel-description class="mat-panel-description-text">
              <!-- Map -->
              {{ map.position?.shortAddress }}
              <!-- {{ map.geolocation }} -->
              <mat-icon>add_location</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Map start -->
          <div>

            <app-view-only-single-marker-map #map [position]="observation?.position">
            </app-view-only-single-marker-map>

            <div *ngIf="observation.user.userName === user.userName">
              <small class="container map-info">
                <mat-icon color="primary">info</mat-icon>
                <span>You can change the
                  location in
                  the <a routerLink="/observation-edit/{{observation.observationId}}">edit observation</a>
                  page</span>
              </small>
            </div>

          </div>
          <!-- Map end -->
        </mat-expansion-panel>
        <!--  -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Notes
            </mat-panel-title>
            <mat-panel-description class="mat-panel-description-text">
              Notes count: {{ observation.notes.length }}
              <mat-icon>create</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <!-- Notes start -->
          <app-view-only-notes [notes]="observation.notes">
          </app-view-only-notes>
          <!-- Notes end -->
        </mat-expansion-panel>
        <!--  -->

        <div class="created-updated-dates">
          <small><em>Observation created at {{ observation.creationDate | date: 'dd/MM/yyyy HH:mm' }}; last updated at
              {{ observation.lastUpdateDate | date: 'dd/MM/yyyy HH:mm' }}</em></small>
        </div>
      </div>

      <div class="navigation-menu">
        <hr>
        <a routerLink="/observation-feed">
          Observation Feed
        </a>
        <!-- <a *ngIf="observation.user.userName === user.userName"
        routerLink="/observation-manage-photos/{{observation.observationId}}">
        | Manage Photos
      </a> -->
        <a *ngIf="observation.user.userName === user.userName"
          routerLink="/observation-edit/{{observation.observationId}}">
          | Edit
        </a>
        <a *ngIf="observation.user.userName === user.userName"
          routerLink="/observation-delete/{{observation.observationId}}">
          | Delete
        </a>
        <a routerLink="/observation-add">
          | Add new
        </a>
      </div>
    </div>


  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">

      <app-error-display [error]="errorObject"></app-error-display>

    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading observation...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>