app-observation-detail {
  .container {
    margin-top: 10px;
    // margin-right: 10px;
  }

  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .info-message {
    margin-top: 20px;
    text-align: left;
  }

  .aligned-with-icon {
    position: absolute;
    text-align: left;
    // margin-top: 5px;
    // margin-left: 5px; /* optional */
  }

  // Workaround for https://github.com/angular/material2/issues/4580.
  // mat-form-field .mat-form-field {
  //   &-underline {
  //     position: relative;
  //     bottom: auto;
  //   }
  //   &-subscript-wrapper {
  //     position: static;
  //   }
  // }

  .section-title {
    margin-bottom: 20px;
  }

  .report-summary {
    font-size: 18px;
  }

  .observation-add-container {
    padding: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .half-width {
    width: 50%;
    margin-bottom: 10px;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }

  .submit-btn {
    margin-top: 10px;
  }

  .obs-creation {
      text-align: right;
  }

  //
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    img {
      margin: 5px;
    }
    button {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .g-overlay {
    min-width: 320px;
  }

  gallery {
    font-size: 16px;
  }

  img {
    width: 150px;
  }

  agm-map {
    height: 300px;
    // padding: 2px;
  }

  .aligned-with-icon {
    position: absolute;
    // margin-top: 5px;
    // margin-left: 5px; /* optional */
  }
}
