app-bird-images {
    .container {
        margin-top: 10px;
    }

    .img-fluid {
        min-width: 100%;
    }

    .photos-info {
        text-align: center;
        font-size: small;
        font-style: italic;
    }
}
