<div class="container">

    <ng-container *ngIf="images$ | async as images; else loadingOrError">

        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="img-wrapper">
                    <img class="img-fluid" [src]="image.url" alt="error">
                </div>
                <div class="carousel-caption">
                </div>
            </ng-template>
        </ngb-carousel>

        <div class="photos-info">These photos are from Flickr</div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="loading">
            <p><em>Loading your life list...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>