<div class="container">

    <ng-container *ngIf="images$ | async as images; else loadingOrError">

        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="picsum-img-wrapper">
                    <img [src]="image.url" alt="error" style="width: 100%; height: 50vh">
                </div>
                <div class="carousel-caption">
                    <!-- <h3>No mouse navigation</h3>
              <p>This carousel hides navigation arrows and indicators.</p> -->
                </div>
            </ng-template>
        </ngb-carousel>

        <div class="photos-info">These are photos from Flickr</div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">

            <app-error-display [error]="errorObject"></app-error-display>

        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="loading">
            <p><em>Loading your life list...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>