<div>
    <ng-container *ngIf="databaseStatus$ | async as status; else loadingOrError">
        <mat-icon class="active-icon-colour" matTooltip="Serverless database is online">check</mat-icon>
    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <div class="error-message">
                <mat-icon class="error-icon-colour" matTooltip="Serverless database is paused">error_outline</mat-icon>
            </div>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <div class="loading-placeholder">
            <mat-icon class="resume-icon-colour" matTooltip="Serverless database is auto-resuming">restore</mat-icon>
        </div>
    </ng-template>
</div>