app-logout {
  .container {
    padding: 20px;
    text-align: center;
  }

  .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
  }

  .button-row {
    margin-top: 20px;
  }
}
