app-info-tweet-day {
    text-align: center;

    .container {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .bird {
        display: block;
        line-height: 0%;
    }

    .loading {
        text-align: center;
    }
}
