<div *ngIf="!requesting; else loading">
  <ng-container *ngIf="tweet; else error">
    <div class="container">
      <h4>Tweet of the Day</h4>
      <span class="bird">
        <h4><a routerLink="/birds-detail/{{tweet.bird.birdId}}">
            {{tweet.bird.englishName}}
          </a></h4>
        <small><em>{{tweet.bird.species}}</em></small>
      </span>
    </div>

    <div class="container">
      <audio controls>
        <source src="{{tweet.songUrl}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  </ng-container>

  <ng-template #error>
    <!-- <ng-container *ngIf="error; else loading"> -->
    <div class="container">
      <h4>Tweet of the Day</h4>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>We're sorry!</strong> The tweet is not available...
        </ngb-alert>
      </p>
    </div>
    <!-- </ng-container> -->
  </ng-template>

</div>

<ng-template #loading>
  <div class="container">
    <p><em>Loading...</em></p>
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-template>