app-confirm-email {

    .container {
        // margin-top: 30px;
        margin-right: 50px;
      }

    .section-title {
        margin-bottom: 20px;
      }
    
      .confirm-email-container {
        padding: 20px;
        text-align: center;
      }
}