<div class="container">
    <div *ngIf="observations as results; else loading">
        <ng-container *ngIf="results.length; else noItems">
            <div *ngFor="let observation of results" [style.height]="itemHeight + 'px'">
                <app-showcase-observation-feed-item [observation]="observation"></app-showcase-observation-feed-item>
            </div>

            <br>
        </ng-container>
        <ng-template #noItems>No Items!</ng-template>
    </div>

    <ng-template #loading>
        <div class="loading">
            <p><em>Loading some recent observations...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>