app-developer {
    .logo-section {
        text-align: center;
        margin: 1% 3%;
    }

    .header {
        text-align: center;
    }

    p.overview {
        text-align: justify;
    }

    .bold {
        font-weight: bold;
    }

    p {
        hyphens: auto;
    }

    table {
        width: 100%;
    }

    .bullet-points {
        margin: 0% 2%;
    }

    .cv-request-section {
        margin-top: 5%;
    }

    //medium screen size and below
    @media only screen and (max-width: 992px) {
        .main {
            //border: black; border-style: solid;
            margin: 3% 5%; //(top, bottom) / (right, left)
        }
        .developer-content {
            //border: black; border-style: solid;
            margin: 3% 5%; //(top, bottom) / (right, left)
        }
    }

    @media only screen and (min-width: 992px) {
        .main {
            //border: black; border-style: solid;
            margin: 3% 15%; //(top, bottom) / (right, left)
        }
        .developer-content {
            //border: black; border-style: solid;
            margin: 3% 15%; //(top, bottom) / (right, left)
        }
    }
}
