<div>

    <div class="logo-section">

        <a [routerLink]='["/"]'>
            <img src="/logo-and-slogan.png" alt="Birder">
        </a>

        <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
            <a mat-tab-link routerLink="/about">About</a>
            <a mat-tab-link routerLink="/contact">Contact</a>
            <a mat-tab-link [active]="true">Developer</a>
            <a mat-tab-link routerLink="/technology">Technology</a>
            <a mat-tab-link routerLink="/future">Future</a>
        </nav>

    </div>


    <div class="main">

        <div class="header">
            <h4>About me</h4>
        </div>

        <div class="developer-content">

            <p class="overview">My name is <span class="bold">Andrew Cross</span>.&nbsp;&nbsp;I am a software developer
                with a focus
                on
                .NET
                6, the Angular platform, and SQL Server.</p>

            <hr>

            <div>
                <div>
                    <h4>My experience</h4>
                    <p>I have experience in the full stack development
                        of websites and desktop applications.&nbsp;&nbsp;Here is a summary of the technologies I have worked with:</p>
                </div>

                <div class="bullet-points">
                    <p class="bold">.NET/C#</p>
                    <ul>
                        <li>
                            <p>
                                Websites with ASP.NET 6. I build REST APIs with the ASP.NET and MVC libraries.
                            </p>
                        </li>

                        <li>
                            <p>
                                Legacy web clients with Razor pages.
                            </p>
                        </li>

                        <li>
                            <p>
                                Desktop software with the Windows Presentation Foundation (WPF) to the MVVM pattern.
                            </p>
                        </li>

                        <li>
                            <p>
                                Entity Framework ('code-first'), LINQ, and AutoMapper for object-database mapping.
                            </p>
                        </li>

                        <li>
                            <p>Test-Driven Development (DDD) with XUnit, NUnit, and Moq.</p>
                        </li>
                    </ul>
                </div>

                <div class="bullet-points">
                    <p class="bold">Web/Client</p>
                    <ul>
                        <li>
                            <p>Web applications with the Angular (v4 &mdash; 12) platform and the Angular Material
                                components
                                library. Unit testing with Karma and Jasmine.
                            </p>
                        </li>

                        <!-- <li>
                            <a href="https://material.angular.io/" target="_">Angular Material</a> components library.
                        </li> -->

                        <li>
                            <p>HTML, SCSS/CSS, Bootstrap, Knockout.js.</p>
                        </li>
                    </ul>
                </div>

                <div class="bullet-points">
                    <p class="bold">Databases</p>
                    <ul>
                        <li>
                            <p>Designing, developing, and deploying SQL databases.</p>
                        </li>

                        <li>
                            Programming stored procedures, queries, and data transformations with T-SQL scripts.
                        </li>

                    </ul>

                </div>

                <div class="cv-request-section">
                    <h4>Curriculum vitae</h4>
                    <p>My curriculum vitae with more detail on specific
                        projects is available by request.&nbsp;&nbsp;Use the <a routerLink="/contact">Contact</a>
                        form to get in touch with me.</p>
                </div>

            </div>

            <hr>

            <div>
                <h4>About me</h4>
                <p>I follow cricket and rugby.&nbsp;&nbsp;I enjoy outdoor activities, particularly hiking; and swimming
                    and
                    Parkrun to keep fit.&nbsp;&nbsp;I am an avid reader of fiction, history, biography, and
                    economics.&nbsp;&nbsp;I am interested in data science which has led me to develop skills in Python
                    and R.&nbsp;&nbsp;I enjoy developing small software projects like this website.
                </p>
            </div>

        </div>

    </div>
</div>