app-birds-detail {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .photos-info {
    text-align: center;
    font-size: small;
    font-style: italic;
  }

  p.classification {
    margin: 8px;
  }

  .bold {
    font-weight: bold;
  }

  .navigation-menu {
    text-align: center;
  }
}
