app-birds-detail {
  // Expnasion panel
  // .example-headers-align .mat-expansion-panel-header-title,
  // .example-headers-align .mat-expansion-panel-header-description {
  //   flex-basis: 0;

  // .example-headers-align .mat-expansion-panel-header-description {
  //   justify-content: space-between;
  //   align-items: center;
  // }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .full-width {
    // width: fit-content;
    margin-bottom: 0.5px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .bold {
    font-weight: bold;
  }

  // dl {
  //   border: 3px double #ccc;
  //   padding: 0.5em;
  // }
  // dt {
  //   float: left;
  //   clear: left;
  //   width: fit-content;
  //   // text-align: right;
  //   font-weight: normal;
  //   // color: green;

  // }
  // dt::after {
  //   content: ":";
  // }
  // dd {
  //   font-weight: bold;
  //   margin: 0 0 0 50px;
  //   padding: 0 0 0.5em 0;
  // }

  // dl dt {
  //   float: left;
  //   width: max-content;
  //   // text-align: right;
  // }

  // dd {
  //   float: left;
  //   margin-left: 10px;
  // }

  table {
    // width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  // td,
  // th {
  //   width: auto;
  // }
}
