<div *ngIf="!bird" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="bird">
  <h3> {{ bird.englishName }} <small><i>{{ bird.species }}</i></small></h3>
  <br>

  <!-- Workaround to lazy load tab 3 -->
  <!-- https://github.com/ng-bootstrap/ng-bootstrap/issues/1584 -->

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs"
    (navChange)="tabstatus[$event.nextId]=true">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Information</a>
      <ng-template ngbNavContent>

        <div class="container">
          <div class="row">
            <div class="col-sm-6 mb-3 mb-md-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Scientific classification</h5>
                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                  <p class="classification">Class: <span class="bold">{{ bird.class }}</span></p>
                  <p class="classification">Order: <span class="bold">{{ bird.order }}</span></p>
                  <p class="classification">Family: <span class="bold">{{ bird.family }}</span></p>
                  <p class="classification">Genus: <span class="bold">{{ bird.genus }}</span></p>
                  <p class="classification">Species: <span class="bold">{{ bird.species }}</span></p>
                  <br>
                  <h5 class="card-title">Common names</h5>
                  <p class="classification">English name: <span class="bold">{{ bird.englishName }}</span></p>
                  <p class="classification">International name: <span
                      class="bold">{{ bird.internationalName == '' ? 'N/a' : bird.internationalName }}</span></p>
                  <!-- totalItems > 1 ? 'times:' : 'time:' -->
                  <!-- <p>Family: <span class="bold">{{ bird.family }}</span></p>  -->
                  <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">BTO status in the UK</h5>
                  <p>BTO status (UK): <span class="bold">{{ bird.btoStatusInBritain }}</span></p>
                  <p>Population estimate (UK): <span class="bold">{{ bird.populationSize }}</span></p>
                  <p>Birder category: <span class="bold">{{ bird.birderStatus }} species</span></p>
                  <br>
                  <h5 class="card-title">Conservation status in the UK</h5>
                  <p>Risk status: <span class="bold"
                      [style.color]="bird.birdConservationStatus.conservationListColourCode">{{ bird.birdConservationStatus.conservationList }}</span>
                  </p>
                  <p>{{ bird.birdConservationStatus.description }}</p>
                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                  <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="false">
      <a ngbNavLink>Photos</a>
      <ng-template ngbNavContent>
        <!-- <ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
          This tab content DOM will de destroyed when not active
        </ngb-alert> -->

        <div class="container">
          <div class="row">
            <div class="col">

            </div>
            <div class="col-8">

              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                  <div class="picsum-img-wrapper">
                    <img [src]="image.url" alt="error" style="width: 100%; height: 50vh">
                  </div>
                  <div class="carousel-caption">
                    <!-- <h3>No mouse navigation</h3>
                    <p>This carousel hides navigation arrows and indicators.</p> -->
                  </div>
                </ng-template>
              </ngb-carousel>

              <div class="photos-info">These are photos from Flickr</div>

            </div>
            <div class="col">

            </div>
          </div>
        </div>

      </ng-template>
    </li>
    <li [ngbNavItem]="3" [destroyOnHide]="false">
      <a ngbNavLink>Voice</a>
      <ng-template ngbNavContent let-active>
        <ng-container *ngIf="tabstatus['3'] === true">

          <app-birds-voice [species]="this.bird.species"></app-birds-voice>

        </ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="4" [destroyOnHide]="false">
      <a ngbNavLink>Sightings</a>
      <ng-template ngbNavContent let-active>
        <ng-container *ngIf="tabstatus['4'] === true">

          <app-bird-observations-list [birdId]="this.bird.birdId"></app-bird-observations-list>
          
        </ng-container>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <div>
    <button (click)="goBack()">go back to birds list</button>
  </div>

</div>



<!-- <div *ngIf="!bird" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="bird">
  <h3>{{ bird.englishName }} <small><i>{{ bird.species }}</i></small></h3>
  <br>

  <div class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
        <mat-panel-description>
          Detailed information...
          <mat-icon>nature_people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="flex-container col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Class" value="{{ bird.class }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Order" value="{{ bird.order }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Family" value="{{ bird.family }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Genus" value="{{ bird.genus }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Species" value="{{ bird.species }}" disabled>
          </mat-form-field>
        </div>
        <div class="flex-container col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="BTO Status in Britain" value="{{ bird.btoStatusInBritain }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Population estimate in Britain" value="{{ bird.populationSize }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Conservation Status" value="{{ bird.birdConservationStatus.conservationList }}"
              [style.color]="bird.birdConservationStatus.conservationListColourCode" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Birder Status" value="{{ bird.birderStatus }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Category" value="{{ bird.category }}" disabled>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
        <mat-panel-description>

          Where did you observe it?
          <mat-icon>add_location</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Photographs
        </mat-panel-title>
        <mat-panel-description>

          Latest photos from Flickr
          <mat-icon>add_photo_alternate</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="expanded" (opened)="lazyLoadObservations()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Latest Observations
        </mat-panel-title>
        <mat-panel-description>

          Add tags to organise your obervations
          <mat-icon>local_offer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

       <ng-template matExpansionPanelContent> -->
<!-- {{ lazyObservations }} -->
<!-- </ng-template> -->
<!-- <div *ngIf="observations">
          <p *ngIf="observations.length < 1">The {{ bird.englishName }} has never been observed.</p>
          <p *ngIf="observations.length > 1">The {{ bird.englishName }} has been observed {{ observations.length }} times:</p>
        </div> -->

<!--  -->
<!-- <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>


          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
            <td mat-cell *matCellDef="let observation"> {{ observation.quantity }} </td>
          </ng-container>


          <ng-container matColumnDef="bird">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
            <td mat-cell *matCellDef="let observation"> {{ observation.bird.englishName }} <small><i>
                  {{ observation.bird.species }} </i></small> </td>
          </ng-container>


          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Observation Date & Time </th>
            <td mat-cell *matCellDef="let observation">
              {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' h:mm a'}} </td>
          </ng-container>

          
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Birder </th>
            <td mat-cell *matCellDef="let observation"> {{ observation.user.userName }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let observation; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div> -->


<!-- </mat-expansion-panel>

  </div>

  <div>
    <button (click)="goBack()">go back</button>
  </div>

</div> -->