<div>

    <div class="logo-section">
        <a [routerLink]='["/"]'>
            <img src="/logo-and-slogan.png" alt="Birder">
        </a>


        <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
            <a mat-tab-link routerLink="/about">About</a>
            <a mat-tab-link routerLink="/contact">Contact</a>
            <a mat-tab-link routerLink="/developer">Developer</a>
            <a mat-tab-link routerLink="/technology">Technology</a>
            <a mat-tab-link routerLink="/future" [active]="true">Future</a>
        </nav>

    </div>

    <!--  -->

    <div class="future-content">

        <div class="header-section">

            <div>
                <h4>Future</h4>
                <p><i>Birder</i> is blah, blah, blah....</p>
            </div>

        </div>

        <div class="main">

            <div>
                <h4>New Features</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>


            <div>
                <hr>
                <h4>Data / AI</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>

        </div>
    </div>
</div>