<div class="container">

  <div class="logo">
    <a [routerLink]='["/"]'>
      <img src="https://birderstorage.blob.core.windows.net/domain/Birder-Logo-With-Text.png" alt="Birder">
    </a>
  </div>

  <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
    <a mat-tab-link routerLink="/about">About</a>
    <a mat-tab-link [active]="true">Contact</a>
    <a mat-tab-link routerLink="/technology">Technology</a>
    <a mat-tab-link routerLink="/future">Future</a>
  </nav>

  <div class="contact-content">

    <div>
      <div class="title">
        <h4>Contact</h4>
        <p>Send your feedback, suggestions, or queries.</p>
        <p><a href="" target="_blank"><i class="fa fa-facebook"></i></a>
          &nbsp;
          <a href="https://twitter.com/crossers_" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>

    <div>
      <app-contact-form></app-contact-form>
    </div>

  </div>

</div>