app-contact {

  .logo {
    text-align: center;
  }

  .contact-content {
    border: black;
    border-style: solid;

    margin: 3% 15%; // (top, bottom) / (right, left)

    .header-section {
      text-align: center;
    }

    .section {
      margin: 2%;
    }

    .title {
      text-align: center;
      margin: auto;
    }

    .text {
      text-align: justify;
    }
  }

  //medium screen size and below
  @media only screen and (max-width: 768px) {
    .first {
      order: 1;
    }
    .second {
      order: 2;
    }
  }
}
