<div class="container">

  <div class="logo">
    <a [routerLink]='["/"]'>
      <img src="https://birderstorage.blob.core.windows.net/domain/Birder-Logo-With-Text.png" alt="Birder">
    </a>
  </div>

  <nav mat-tab-nav-bar mat-stretch-tabs class="example-stretched-tabs">
    <a mat-tab-link routerLink="/about">About</a>
    <a mat-tab-link [active]="true">Contact</a>
    <a mat-tab-link routerLink="/technology">Technology</a>
    <a mat-tab-link routerLink="/" disabled>Whatever</a>
  </nav>

  <div class="contact-content">

    <div class="main-section1">
      <div class="title">
        <h3>Contact</h3>
        <p>Some remarks about contacting the team......................</p>
      </div>
    </div>

    <div class="form-section">
      <app-contact-form></app-contact-form>
    </div>

  </div>


</div>