<div *ngIf="!notes" class="loading">
    <p><em>Loading...</em></p>
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="notes">
    <ng-container *ngIf="notes.length; else noItems">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Type</th>
                    <th scope="col">Note</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let note of notes; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ note.noteType }}</td>
                    <td>{{ note.note }}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
            [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination> -->

    </ng-container>

    <ng-template #noItems>
        <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
            No notes linked to this observation
        </ngb-alert>
    </ng-template>
</div>
