<div class="container">
    <div class="row">
        <div class='col-sm-2'>
          </div>
      <div class="col-sm-8">
        <div class="manage-profile-container">
          <h2 class="section-title">Change Password</h2>

          <!-- <div *ngIf="invalidRegistration" class="alert alert-danger">
            <p>Invalid registration</p>
              <ul>
                  <li *ngFor="let error of errorReport.modelStateErrors">
                      {{ error }}
                  </li>
              </ul>
          </div>
  <div *ngIf="user">
          <form [formGroup]="manageProfileForm" novalidate (ngSubmit)="onSubmit(manageProfileForm.value)">
            <mat-form-field class="full-width">
              <input matInput type="text" maxlength="25" placeholder="Username" formControlName="userName" required (input)="checkUsernameIsAvailable()">
              <mat-icon *ngIf="(isUsernameAvailable) && (manageProfileForm.get('userName').valid)" matSuffix color="primary" matTooltip="This username is available">check</mat-icon>
              <mat-icon *ngIf="(!isUsernameAvailable) && (manageProfileForm.get('userName').valid)" matSuffix color="warn" matTooltip="This username is taken">cancel</mat-icon>
              <mat-error *ngFor="let validation of manageProfile_validation_messages.userName">
                <mat-error class="error-message"
                  *ngIf="manageProfileForm.get('userName').hasError(validation.type) && (manageProfileForm.get('userName').dirty || manageProfileForm.get('userName').touched)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="Email" formControlName="email" required>
              <mat-error *ngFor="let validation of manageProfile_validation_messages.email">
                <mat-error class="error-message"
                  *ngIf="manageProfileForm.get('email').hasError(validation.type) && (manageProfileForm.get('email').dirty || manageProfileForm.get('email').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field> -->
          
  
            <!-- <div formGroupName="matching_passwords">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error *ngFor="let validation of manageProfile_validation_messages.password">
                  <mat-error class="error-message"
                    *ngIf="manageProfileForm.get('matching_passwords').get('password').hasError(validation.type) && (manageProfileForm.get('matching_passwords').get('password').dirty || manageProfileForm.get('matching_passwords').get('password').touched)">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
  
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"
                  [errorStateMatcher]="parentErrorStateMatcher" required>
                <mat-error *ngFor="let validation of manageProfile_validation_messages.confirmPassword">
                  <mat-error class="error-message"
                    *ngIf="(manageProfileForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| manageProfileForm.get('matching_passwords').hasError(validation.type)) && (manageProfileForm.get('matching_passwords').get('confirmPassword').dirty || manageProfileForm.get('matching_passwords').get('confirmPassword').touched)">
                    {{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
  
            </div> -->
  
            <!-- <mat-checkbox formControlName="terms">
              I accept terms and conditions
            </mat-checkbox>
            <mat-error *ngFor="let validation of manageProfile_validation_messages.terms">
              <mat-error class="error-message"
                *ngIf="manageProfileForm.get('terms').hasError(validation.type) && (manageProfileForm.get('terms').dirty || manageProfileForm.get('terms').touched)">
                {{validation.message}}</mat-error>
            </mat-error> -->
<!--   
            <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!manageProfileForm.valid">
              Submit
            </button>
  
          </form> -->
        </div>
  
        </div>
      </div>
      <div class='col-sm-2'>
        </div>
    </div>
  