
<!-- <mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" src="{{user.profileImage}}">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<div class="container" *ngIf="user">
    <div class="flex-container">
        <div>
            <img class="avatar" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126">
        </div>
        <div>
            <h4>{{ user.userName }}</h4>
            <div class="profile-text">
              <p>Joined on {{ user.registrationDate | date: 'EEEE, d MMMM yyyy'}}</p>
              <p>Followers: {{ user.followersCount }} | Following: {{ user.followingCount }}</p>
            </div>
            <p *ngIf="user.isOwnProfile == true"><button mat-stroked-button color="primary">
              {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
        </div>
      </div>

  <!-- <img class="hello" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126"> -->



</div>