<!-- <mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" src="{{user.profileImage}}">
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<div class="container" *ngIf="user">
  <div class="flex-container">
    <div>
      <img class="avatar" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126">
    </div>
    <div>
      <h4>{{ user.userName }}</h4>
      <div class="profile-text">
        <p>Joined on {{ user.registrationDate | date: 'EEEE, d MMMM yyyy'}}</p>
      </div>
      <p *ngIf="user.isOwnProfile == false"><button mat-stroked-button color="primary">
          {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
    </div>
  </div>

  <div>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge={{user.following.length}} matBadgeOverlap="false">Following</span>
        </ng-template>
        <p><em>Find Birders to follow</em></p>
        <!-- // -->
        <div *ngFor="let user of user.following">
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar class="example-header-image" src="{{user.profileImage}}">
              <mat-card-title>{{user.userName}}</mat-card-title>
              <mat-card-subtitle>
              <p><button mat-stroked-button color="primary" (click)="followOrUnfollow($event.target, user)">
                {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <!--  -->
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge={{user.followers.length}} matBadgeOverlap="false">Followers</span>
        </ng-template>
        Content 2
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="1" matBadgeOverlap="false">Awards</span>
        </ng-template>
        Content 3
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Latest observations
        </ng-template>
        Content 4
      </mat-tab>
    </mat-tab-group>
  </div>


  <!-- <img class="hello" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126"> -->



</div>