<div class="container" *ngIf="user">
  <div class="flex-container">
    <div>
      <img class="avatar" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126">
    </div>
    <div>
      <h4>{{ user.userName }}</h4>
      <div class="profile-text">
        <p>Joined on {{ user.registrationDate | date: 'EEEE, d MMMM yyyy'}}</p>
      </div>
      <p *ngIf="user.isOwnProfile == false"><button mat-stroked-button color="primary">
          {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
    </div>
  </div>

  <div>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge={{user.following.length}} matBadgeOverlap="false">Following</span>
        </ng-template>
        <p><em>Find Birders to follow</em></p>
        <!-- // -->
        <div *ngFor="let f of user.following">
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar class="example-header-image" src="{{f.profileImage}}">
              <mat-card-title>{{f.userName}}</mat-card-title>
              <mat-card-subtitle *ngIf="f.isOwnProfile == false">
                <p><button mat-stroked-button color="primary" (click)="followOrUnfollow($event.target, f)">
                    {{ f.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <!--  -->
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge={{user.followers.length}} matBadgeOverlap="false">Followers</span>
        </ng-template>
                <!-- // -->
        <div *ngFor="let follower of user.followers">
          <mat-card class="example-card">
            <mat-card-header>
              <img mat-card-avatar class="example-header-image" src="{{follower.profileImage}}">
              <mat-card-title>{{follower.userName}}</mat-card-title>
              <mat-card-subtitle *ngIf="follower.isOwnProfile == false">
                <p><button mat-stroked-button color="primary" (click)="followOrUnfollow($event.target, follower)">
                    {{ follower.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></p>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <!--  -->
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span matBadge="1" matBadgeOverlap="false">Awards</span>
        </ng-template>
        Content 3
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Latest observations
        </ng-template>
        Content 4
      </mat-tab>
    </mat-tab-group>
  </div>


  <!-- <img class="hello" src="{{user.profileImage}}" alt="Smiley face" height="126" width="126"> -->



</div>