<div class="network-search-container">

  <form id="searchForm" class="form-inline controls" novalidate #searchForm="ngForm"
    (ngSubmit)="searchNetwork(searchForm.value)">
    <!-- <div class="form-group mx-sm-3"> -->
    <!-- <label for="searchTerm" class="sr-only">Password</label> -->
    <input type="search" class="form-control" id="search" name="searchTerm" placeholder="type search criterion" ngModel
      required>
    <!-- </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
    <!-- <button *ngIf="(searching)" class="btn btn-primary" type="submit" disabled>
      Searching the Birder network
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button> -->
  </form>

  <hr>

  <ng-container *ngIf="results$ | async as network">
    <ng-container *ngIf="network.length; else noItems">
      <div *ngFor="let user of network">
        <app-network-user [user]="user"></app-network-user>
      </div>
    </ng-container>

    <ng-template #noItems>
      <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
        There are no suggestions at this time...
      </ngb-alert>
    </ng-template>

  </ng-container>
</div>