<button class="add-button" mat-raised-button color="basic" type="button" (click)="openAddNoteDialog()"
    matTooltip="Add new note">
    <mat-icon>note_add</mat-icon>
    Add note
</button>

<hr>
<!-- just want some space here -->

<div class="container" *ngIf="notes">
    <ng-container *ngIf="notes.length; else noItems">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Type</th>
                    <th scope="col">Note</th>
                    <th class="buttons"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let note of notes; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ note.noteType }}</td>
                    <td>{{ note.note }}</td>
                    <td><button mat-icon-button color="primary" type="button"
                            (click)="openEditNoteDialog(note)" matTooltip="Edit this note">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" type="button" (click)="removeNote(note)"
                            matTooltip="Delete this note">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr>

    </ng-container>

    <ng-template #noItems>
        <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
            No Notes.
        </ngb-alert>
    </ng-template>
</div>