app-user-observations-list {
    .container {
        margin-top: 10px;
    }
    
    small.species {
        font-style: italic;
    }

    @media only screen and (max-width: 768px) {
        th.hide-small,
        td.hide-small {
            display: none;
        }

        table th,
        td {
            font-size: 75%;
        }
    }
}
