app-contact-form {
    .ng-valid[required],
    .ng-valid.required {
        border-left: 5px solid #42a948; /* green */
    }

    .ng-invalid:not(form) {
        border-left: 5px solid #a94442; /* red */
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {
        .contact-form {
            margin: 3% 10%;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .contact-form {
            margin: 3% 15%;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (min-width: 768px) {
    //     .contact-form {
    //         margin: 3% 15%;
    //     }
    // }
}
