<div class="container">

    <h4>Log your bird sightings with Birder:</h4>
    <ul>
        <li>Record the loaction of your sighting with the map interface</li>
        <li>Organise [categorise] your observations into categories with descriptive 'tags' <i>(coming up soon)</i></li>
        <li>Upload photographs of the birds you have caught on camera</li>
    </ul>

    <br />
    <h4>Build a network of like-minded bird lovers and share what you have seen:</h4>
    <ul>
        <li>View and comment on observations from users you follow <i>(coming up soon)</i></li>
    </ul>

    <br />
    <h4>Analyse your observations:</h4>
    <ul>
        <li>View your 'Life List' on the birds you have identified</li>
        <li>Earn 'badges' and increase your experience rating with 'Achievements' <i>(coming up soon)</i></li>
        <li>See a distribution map of your observations <i>(coming up soon)</i></li>
        <li>See dynamic graphs of what you have seen and when <i>(coming up soon)</i></li>
    </ul>

  <mat-grid-list cols="2" rowHeight="3:1" gutterSize="20px">
    <mat-grid-tile [colspan]=2>
      1<mat-grid-tile-header>
        <h3><b>Hello</b></h3>
      </mat-grid-tile-header>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>