<div class="container">

    <h4>Your observations feed</h4>

    <div>
        <a class="nav-link" [routerLink]='["/observation-add"]'>Add Observation</a>
    </div>

    <mat-form-field>
        <mat-label>Filter Feed</mat-label>
        <select matNativeControl name="feedFilterOptions" (change)="onFilterFeed($event.target.value)">
                <option *ngFor="let option of filterOptions.values();">
                    {{option}}
                </option>
            </select>
    </mat-form-field>

    <!-- <p>
        <select name="feedFilterOptions" (change)="onFilterFeed($event.target.value)">
            <option *ngFor="let option of filterOptions.values();">
                {{option}}
            </option>
        </select>
    </p> -->

    <div *ngFor="let observation of itemResults$|async" [style.height]="itemHeight + 'px'">

        <div class="timeline-item"
            attr.myValue="{{observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' h:mm a'}}">
            <h3><b>{{observation.quantity}}</b> {{observation.bird.englishName}}
                {{observation.quantity > 1 ? 'were' : 'was'}}
                spotted by <a routerLink="/user-profile/{{observation.user.userName}}">
                    {{observation.user.userName}}
                </a>
            </h3>

            <a routerLink="/observation-detail/{{observation.observationId}}">
                View |
            </a>
            <a routerLink="/observation-edit/{{observation.observationId}}">
                Edit |
            </a>
            <a routerLink="/observation-delete/{{observation.observationId}}">
                Delete
            </a>
        </div>
    </div>

    <p *ngIf="allLoaded">
        <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> No more items to load...
        </ngb-alert>
    </p>

</div>