app-account-manager-location {
  .container {
    margin-top: 20px;
    text-align: center;
  }

  .map {
    margin-bottom: 10px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .submit-btn {
    margin-top: 30px;
  }
}
