<div class="container">
  <div class="row">
    <div class='col-sm-1'>
    </div>
    <div class="col-sm-10">
      <div class="set-location-container">
        <h2 class="section-title">Set Default Location</h2>
        <div *ngIf="user">
          <form [formGroup]="setLocationForm" novalidate (ngSubmit)="onSubmit(setLocationForm.value)">

            <!-- Google map control -->
            <!-- <div class="container"> -->
              <form (ngSubmit)="useGeolocation(searchAddress)">
                <input type="text" name="searchAddress" placeholder="Type location here" [(ngModel)]="searchAddress"
                  [ngModelOptions]="{standalone: true}" required>
                <button type="button" class="btn btn-primary" triggers="mouseenter:mouseleave"
                  ngbPopover='- Type a place name (e.g. Canterbury, UK); or an specific address (e.g. 1 High St, Canterbury CT1 2JH)'
                  popoverTitle="Search help">Show Location</button>
                <button type="button" type="button" class="btn btn-primary" (click)="getCurrentPosition()">Use My Current Location</button>
              </form>

              <p *ngIf="geoError">
                <ngb-alert [dismissible]="true" [type]="'danger'" (close)="closeAlert()">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </ngb-alert>
              </p>

              <agm-map [latitude]="setLocationForm.get('locationLatitude').value"
                [longitude]="setLocationForm.get('locationLongitude').value" [zoom]="8" [disableDefaultUI]="false"
                [zoomControl]="true">
                <agm-marker [latitude]="setLocationForm.get('locationLatitude').value"
                  [longitude]="setLocationForm.get('locationLongitude').value" [markerDraggable]="true"
                  (dragEnd)="placeMarker($event)">
                  <agm-info-window [isOpen]="true">Observed at {{geolocation}}</agm-info-window>
                </agm-marker>
              </agm-map>
            <!-- </div> -->
            <!-- Google map control end -->


            <button type="button" class="btn btn-primary"
              [disabled]="!setLocationForm.valid">
              Set Default Location
            </button>

          </form>
        </div>
      </div>
    </div>
    <div class='col-sm-1'>
    </div>
  </div>
</div>