app-account-manager-location {
  .container {
    margin-top: 20px;
    text-align: center;
  }

  .map {
    margin-bottom: 10px;
    //width: 75%;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .full-width {
    width: 85%;
    margin-bottom: 10px;
  }

  .alert {
    margin: auto;
    display: table;
  }
}
