<div class="container">
  <div class="set-location-container">
    <h3 class="section-title">Set Default Location</h3>
      <div class="map" *ngIf="defaultPosition">
        <app-view-edit-single-marker-map #map [position]="defaultPosition">
        </app-view-edit-single-marker-map>
      </div>

      <button *ngIf="!requesting" type="submit" class="btn btn-primary" (click)="onSubmit()">
        Set default location
      </button>
      <button *ngIf="requesting" class="btn btn-primary" type="submit" disabled>
        Setting default location...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
  </div>
</div>