<div class="container">
  <h3 class="section-title">Set Default Location</h3>

  <div *ngIf="!isLoading; else loading">
    <ng-container *ngIf="defaultPosition; else error">

      <div class="map">
        <app-view-edit-single-marker-map #map [position]="defaultPosition">
        </app-view-edit-single-marker-map>
      </div>

      <div class="full-width alert">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>Please note:</strong> if you make changes you will need to login again.
          </ngb-alert>
        </p>
      </div>

      <button mat-stroked-button *ngIf="!requesting" type="button" (click)="onSubmit()"
      #tooltip="matTooltip" matTooltip="Update your default location"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
        Update default location
      </button>
      <button mat-stroked-button *ngIf="requesting" type="button" disabled>
        Updating default location...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>

    </ng-container>

    <ng-template #error>
      <div class="container">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>We're sorry!</strong> There is a problem...
          </ngb-alert>
          <!-- ToDo: reload button here? -->
        </p>
      </div>
    </ng-template>

  </div>

  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>