<div class="map-container">

    <ng-container *ngIf="locationMarker; else loadingOrError">

        <p class="location">
            <mat-icon>location_on</mat-icon>
            <span>{{ position?.formattedAddress }}</span>
        </p>

        <google-map height="300px" width="100%" [zoom]="options.zoom" [center]="locationMarker?.position"
            [options]="options">
            <map-marker #markerElement="mapMarker" [position]="locationMarker?.position"
                [options]="locationMarker?.options" (mapClick)="openInfoWindow(markerElement)">
                <map-info-window>{{ position?.formattedAddress }}</map-info-window>
            </map-marker>
        </google-map>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <div class="error-message">
                <p>An error occurred</p>
            </div>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="loading-placeholder">
            <p><em>Loading...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>