app-testing {

    .wrapper {
        margin: 15px;
    }

    .add-button {
        margin-left: 25px;
    }

    .mat-button-toggle-label-content {
        line-height: 32px !important;  //<-- set you height here
    }

    .example-button-container {
        display: flex;
        justify-content: center;
        width: 120px;
      }
}
