app-testing {
//   .carousel {
//     width: 640px;
//     height: 640px;

.carousel-item {
    width: 320px;
    height: 320px; /* example */
  }
  
  .carousel-item img {
    width: 320px;
    height: 320px;
    object-fit: cover;
  }
  
}
