<div class="container">
  <div class="row">
    <div class='col-sm-2'>
    </div>
    <div class="col-sm-8">
      <div class="confirm-email-container">
        <h3 class="section-title">
          Confirm your email
        </h3>
        <h4 class="section-title">
          We've sent you an email.  Check your inbox and follow the instructions to confirm your email.
        </h4>
        <!-- <div> -->
          
        <!-- </div> -->
      </div>
      <div>
        <app-confirm-email-resend></app-confirm-email-resend>
      </div>
      
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
</div>
