<div class="container">
  <h3>Build your Birder network</h3>


  <form id="searchForm" class="form-inline" novalidate #searchForm="ngForm" (ngSubmit)="searchNetwork(searchForm.value)">
    <!-- <div class="form-group">
      <label class="sr-only">Email</label>
      <p class="form-control-static">email@example.com</p>
    </div> -->
    <div class="form-group mx-sm-3">
      <label for="search" class="sr-only">Password</label>
      <input type="text" class="form-control" id="search" name="searchTerm" placeholder="Search" ngModel required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search the Birder network</button>
  </form>

  <!-- <div>
    <br>
    <form (ngSubmit)="search()">
      <input type="text" name="find" placeholder="Search Birders" [(ngModel)]="searchTerm"
        [ngModelOptions]="{standalone: true}" required>
      <button type="submit" [disabled]="!searchTerm">Search the Birder network</button>
    </form>
    <br>
  </div> -->
  <hr>
  <div *ngIf="loading" class="loading">
    <p><em>Loading...</em></p>
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <h5>{{ customSearch == true ? 'Search Results' : 'Suggested Birders to follow' }}</h5>

    <div *ngFor="let user of users">
      <div class="flex-container network-list">
        <img class="avatar" src="{{user.avatar}}">
        <a class="avatar-title" routerLink="/user-profile/{{user.userName}}">{{user.userName}}</a>
        <div><button class="btn btn-link btn-sm" (click)="followOrUnfollow($event.target, user)">
            {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></div>
      </div>

      <p *ngIf="users.length == 0 && customSearch == true">We found no search results</p>
      <p *ngIf="users.length == 0 && customSearch == false">There are no Birders to follow</p>

    </div>

  </div>