app-whats-new {
    .loading-placeholder {
        text-align: center;
        .mat-spinner {
            margin: 0 auto;
        }
    }

    .error-message {
        font-size: 100%;
    }

    @media only screen and (max-width: 600px) {
        .introduction {
            text-align: center;
            font-size: 80%;
        }

        .title {
            text-align: center;
            font-size: 80%;
        }

        table th,
        td {
            font-size: 55%;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .introduction {
            text-align: center;
            font-size: 80%;
        }

        .title {
            text-align: center;
            font-size: 80%;
        }

        table th,
        td {
            font-size: 80%;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .introduction {
            text-align: center;
            font-size: 100%;
        }

        .title {
            text-align: center;
            font-size: 100%;
        }
        table th,
        td {
            font-size: 100%;
        }
    }

    // /* Large devices (laptops/desktops, 992px and up) */
    // @media only screen and (min-width: 992px) {
    //     table th, td {
    //         font-size: 100%;
    //     }
    // }

    // /* Extra large devices (large laptops and desktops, 1200px and up) */
    // @media only screen and (min-width: 1200px) {
    //     table th, td {
    //         font-size: 100%;
    //     }
    // }
}
