<div class="container">
    <!-- replace container with css margin -->

    <div class="introduction">

        <h2>Work in progress</h2>

        <p><i>Birder</i> is a hobby project. I work on it in my spare time. I have lots of ideas for
            new features; some of which are outlined in the table, below.
            <br>Use the <a routerLink="/contact">Contact</a>
            page
            to send your suggestions or feedback.
        </p>

    </div>

    <!-- <hr> -->

    <!-- <ng-container *ngIf="features$ | async as features; else loadingOrError"> -->
    <ng-container>
        <div class="features-table">
            <!-- <h4 class="title">Features under development</h4> -->
            <table class="table table-striped hello">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Feature</th>
                        <th scope="col">Description</th>
                        <th scope="col">Progress</th>
                        <th scope="col">Priority</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let feature of _service.items | async; index as i">
                        <!-- <td>{{ feature.id }}</td> -->
                        <td>{{ feature.feature }}</td>
                        <td>{{ feature.description }}</td>
                        <td>{{ feature.progress }}</td>
                        <td [style.color]="feature.colourCode">{{ feature.priority }} {{ feature.colourcode }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>

    <!-- <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <div class="error-message">
                <p>An error occurred</p>
                <app-error-display [error]="errorObject"></app-error-display>
            </div>
        </ng-container>
    </ng-template> -->


    <!-- <ng-template #loading>
        <div class="loading-placeholder">
            <p><em>Loading...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template> -->
</div>

<div>
    <div *ngFor="let feature of _service.items | async">
        <!-- {{ rate.code }} | {{ rate.rate }} -->
      </div>
</div>