<div class="container">

    <div class="introduction">

        <h2>What's new and what's under development?</h2>

        <p><i>Birder</i> is a hobby project.  I am one developer working on it in my spare time.  I have lots of ideas for new features.
            <br>This page outlines some of the ideas and it also provides an update on the progress.</p>

            <p>I welcome your suggestions for new features and/or your thoughts on how to improveme the existing features.
                <br>Please do not hesitate to <a href="mailto: andrewstuartcross@gmx.com" title="Send an email to the Birder team">e-mail</a> your suggestions or feedback.</p>



    </div>

    <div class="features" *ngIf="features">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Feature</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feature of features; index as i">
                    <td>{{ feature.id }}</td>
                    <td>{{ feature.feature }}</td>
                    <td>{{ feature.description }}</td>
                    <td>{{ feature.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>





</div>