.body-content {
  padding-top: 80px;
  overflow: hidden;

  // background: #13d7e5;
  // //padding: 10px;
  // margin-top: 10px;
  // border-radius: 10px;
}

.side-content {
  padding-top: 80px;
  overflow: hidden;
  // background: #dce513;
  // //padding: 10px;
  // // margin: 10px;
  // border-radius: 10px;
}

.footer-content {
  padding-top: 5px;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  //@media (max-width: 992px) {
  [class*="col-"] {
    width: 100%;
  }

  .body-content {
    padding-top: 70px;
    overflow: hidden;
  }

  .side-content {
    padding-top: 70px;
    overflow: hidden;

    // background: #dce513;
    // padding: 10px;
    // border-radius: 10px;
  }

  // doesn't do anything...
  .footer-content {
    padding-top: 5px;
    overflow: hidden;
  }
}
