<div class="tweet-archive-container">
    <h3>Tweet of the Day Archive</h3>

    <ng-container *ngIf="tweets$ | async as tweets; else loadingOrError">

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hide-small" scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Species</th>
                        <th class="hide-small" scope="col">Status / Population</th>
                        <th scope="col">Recording</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of tweets.items; index as i">
                        <th class="hide-small" scope="row">{{ i + 1 }}</th>
                        <td>{{ record.displayDay | date: 'dd/MM/yyyy' }}</td>
                        <td><a routerLink="/bird-detail/{{record.bird.birdId}}">{{ record.bird.englishName }}</a>
                            <br><small><em>{{ record.bird.species }}</em></small>
                        </td>
                        <td class="hide-small"><small>{{ record.bird.btoStatusInBritain }} <br> {{
                                record.bird.populationSize
                                }}</small></td>
                        <td><audio class="player" controls>
                                <source src="{{record.songUrl}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="tweets.totalItems" [(page)]="page"
                [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container">
            <p><em>Loading...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>