<div class="container">

    <div class="main">
        <div>
            <a [routerLink]='["/"]'>
                <img src="/logo-and-slogan.png" alt="Birder">
            </a>
        </div>
        <div>
            <p><i>Birder</i> is a free social network-style platform for logging, sharing, and analysing bird
                observations</p>
        </div>
        <div class="example-button-row">
            <a mat-stroked-button [routerLink]='["/login"]'>Login</a>
            or &nbsp;
            <a mat-stroked-button [routerLink]='["/register"]'>Register</a>
        </div>
    </div>

    <!-- <hr> -->

    <div class="features">

        <!-- <h3>Why Use Birder?</h3> -->

        <div class="hello">
            <app-features [showBlurb]="false"></app-features>
        </div>

        <hr>

        <div class="main">

            <h4>Find out more - or login or register</h4>

            <p>You can find out more about Birder in the <a [routerLink]='["/about"]'>About</a> page.</p>

            <p>More information about the features under development are in the <a [routerLink]='["/whats-new"]'>What's
                    New?</a> page.</p>

            <div class="example-button-row">
                <a mat-stroked-button [routerLink]='["/login"]'>Login</a>
                or &nbsp;
                <a mat-stroked-button [routerLink]='["/register"]'>Register</a>
            </div>

        </div>
    </div>
</div>



<!-- <div class="logging-sharing-section">

            <h4>Log and share your bird observations</h4>

            <p>Keep an electronic record of the species you have spotted and share them in the 'Observations Feed'</p>

            <div class="image">
                <p class="caption">The Observations Feed</p>
                <img src="//obs-feed-item-screenshot.png"
                    alt="Observation Feed Sample">
            </div>

            <p>Record what species you observed and when and where you saw it. 
                You call also upload photographs, add notes, and tag your records.
            </p>

        </div>

        <hr> -->

<!-- <div class="analysis-section">

            <h4>Analyse your observations</h4>

            <p>Track lists of the species you have identified</p>

            <div class="image">
                <p class="caption">The Life List</p>
                <img src="//life-list-screenshot.png"
                    alt="Life List Caption">
            </div>

            <br>

            <p>Track your observations on maps</p>

            <div class="image">
                <p class="caption">Observations maps</p>
                <img src="//distribution-maps-screenshot.png"
                    alt="Distribution Map Screenshot">
            </div>

        </div> -->

<!-- <hr> -->

<!-- <div class="learn-section">
            <h4>Learn about bird species</h4>

            <p>Each bird in the <a href="https://www.bto.org/about-birds/birdfacts/british-list"
                    target="_blank">BTO</a>’s
                <i>British List</i> of 616 of species has its own page with: detailed classification data, a feed of
                photographs from <a href="https://www.flickr.com/" target="_blank">Flickr</a>, a library of sound
                recordings from <a href="https://www.xeno-canto.org/" target="_blank">Xeno-canto</a>, as well as maps
                and lists of the latest sightings in the <i>Birder</i> network.
            </p>

            <p>We feature the call of a different bird species every day. Here is today's 'Tweet of the Day':</p>

            <p class="caption">Tweet of the Day</p>

            <div class="tweet-day">
                <app-info-tweet></app-info-tweet>
            </div>

        </div> -->