app-home {
  .container {
    //margin: 3% 15%; //(top, bottom) / (right, left)
    margin: auto;
    padding: 10px;
    text-align: center;
  }

  .main img {
    max-height: 100%;
    max-width: 100%;
  }

  p.caption {
    margin: 0;
    font-size: 0.8em;
    font-weight: bold;
  }

  .image img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
    width: 100px !important;
    min-width: unset !important;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  @media screen and (min-width: 801px) {
    ul {
      text-align: center;
      list-style-position: inside;
      padding: 0;
    }

    .tweet-day {
      width: 40%;
      margin: auto;
      background: #f8ff2c;
      margin-bottom: 30px;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    ul {
      text-align: center;
      list-style-position: inside;
      padding: 0;
      font-size: 0.8em;
    }

    .tweet-day {
      width: 100%;
      margin: auto;
      background: #f8ff2c;
      margin-bottom: 30px;
      border-radius: 10px;
    }
  }
}
