<div class="container">
    <h1 mat-dialog-title>Add a note</h1>
    <div>
        <form #addNoteForm="ngForm">

            <div class="form-group">
                <label for="noteType">Type</label>
                <select class="form-control" id="noteType" required [(ngModel)]="model.noteType" name="noteType"
                    #noteType="ngModel">
                    <option *ngFor="let pow of keys1()" [value]="pow">{{pow}}</option>
                </select>
                <div [hidden]="noteType.valid || noteType.pristine" class="alert alert-danger">
                    Note Type is required
                </div>
            </div>

            <div class="form-group">
                <label for="note">Note {{ model.note ? model.note.length: '0' }}</label>
                <textarea placeholder="Type your note here... " type="text" class="form-control" id="note" required
                    [(ngModel)]="model.note" name="note" #note="ngModel"></textarea>
                <div [hidden]="note.valid || note.pristine || note.untouched" class="alert alert-danger">
                    Note is required
                </div>
            </div>

        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Exit</button>
        <button mat-button [disabled]="!addNoteForm.form.valid" [mat-dialog-close]="model">Add
            note</button>
    </div>

</div>