<div class="life-list-container">

  <h3>Your life list</h3>

  <ng-container *ngIf="lifeList$ | async as list; else loadingOrError">

    <p>You have spotted {{ list.length }} species:</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Count</th>
          <th scope="col">Species</th>
          <th class="hide-small" scope="col">Status / Population</th>
          <th scope="col">Risk Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of list | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ record.count | number }}</td>
          <td><a routerLink="/bird-detail/{{record.birdId}}">{{ record.englishName }}</a>
            <br><small><em>{{ record.species }}</em></small>
          </td>
          <td class="hide-small"><small>{{ record.btoStatusInBritain }} <br> {{ record.populationSize }}</small></td>
          <td [style.color]="record.conservationListColourCode"><small>{{ record.conservationStatus }}</small></td>
        </tr>
      </tbody>
    </table>

    <hr>

    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="list.length"
        class="d-flex justify-content-center" size="sm" [maxSize]="9" [rotate]="true" [boundaryLinks]="true"
        (pageChange)="changePage()">
      </ngb-pagination>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">

      <app-error-display [error]="errorObject"></app-error-display>

    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="loading">
      <p><em>Loading your life list...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>