<div class="container" *ngIf="network">
  <h3>Build your Birder network</h3>


  <ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs"
    (navChange)="tabstatus[$event.nextId]=true">


    <li [ngbNavItem]="1" [destroyOnHide]="true">
      <a ngbNavLink>Suggestions</a>
      <ng-template ngbNavContent let-active>
        <ng-container>

          <app-network-suggestions></app-network-suggestions>

        </ng-container>
      </ng-template>
    </li>

    <li [ngbNavItem]="2" [destroyOnHide]="true">
      <a ngbNavLink>Search</a>
      <ng-template ngbNavContent>

        <app-network-search></app-network-search>

      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>