<div class="container">

  <h4>Manage Photographs</h4>

  <hr>

  <div *ngIf="observation">
    <!-- <h2>Observation id: {{observation.observationId}}</h2> -->
    <b>{{observation.quantity}}</b> {{observation.bird.englishName}} {{observation.quantity > 1 ? 'were' : 'was'}}
    observed at {{observation.observationDateTime}}
    observed by {{observation.user.userName }}
  </div>

  <hr>

  <!-- <h4>Lightbox Example</h4>
  <div class="container gallerize-example">
	<p class="hello">
		<img *ngFor="let item of items; index as i" 
         [lightbox]="i"
         [src]="item.data.thumb">
  </p>
  </div> -->

  <hr>

  <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
    <ngx-dropzone-label>
      <div>
        <h3>Drop your photos here or click here to select files...</h3>
      </div>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true"
      (removed)="onRemove(f)">
      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-image-preview>
  </div>

  <div class="row">
    <div class="col progress" *ngIf="fileUploadProgress">
      <p>Upload progress: {{ fileUploadProgress }}</p>
    </div>

    <div class="col button-submit">
      <button class="btn btn-success" [disabled]="files.length==0 || fileUploadProgress" (click)="onSavePhotos()">Upload
        Photographs</button>
    </div>
  </div>

</div>