@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

app-observation-feed {
  .feedEndAlert {
    margin: 20px;
  }

  .add-button {
    margin-right: 25px;
  }

  .feed-filter-toggle-group {
    float: right;
  }

  // .mat-button-toggle-label-content {
  //   //line-height: 32px !important; //<-- set the height here
  // }

  // @media screen and (max-width: 394px) {
  //   .add-button {
  //     margin-right: 1px;
  //   }
    //}


    
      /* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {
  //     // th.stat, td.stat {
  //     //     display: none;
  //     // }
  // }

  @media only screen and (max-width: 768px) {
    .feed-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .feed-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .feed-container {
      // background: #babba9; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 1%; //(top, bottom) / (right, left)
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) {
  // }
}
