<div class="feed-container">

  <!-- <h4>{{title}}</h4> -->

  <div class="button-row">

    <a class="add-button" [routerLink]='["/observation-add"]' mat-mini-fab color="primary"
      aria-label="Add a new observation" #tooltip="matTooltip" matTooltip="Add a new observation"
      aria-label="Button that displays a tooltip that hides when scrolled out of the container">
      <mat-icon>add</mat-icon>
    </a>


    <mat-button-toggle-group class="feed-filter-toggle-group" #group="matButtonToggleGroup" [value]="currentFilter"
      (change)="onFilterFeed(group.value)">
      <mat-button-toggle value="0" aria-label="Show observations in your network" #tooltip="matTooltip"
        matTooltip="Show observations in your network"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container">
        <!-- <mat-icon>groups</mat-icon> -->
        Network
      </mat-button-toggle>
      <mat-button-toggle value="1" aria-label="Show your observations only" #tooltip="matTooltip"
        matTooltip="Show your observations only"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container">
        <!-- <mat-icon>person</mat-icon> -->
        Yours
      </mat-button-toggle>
      <mat-button-toggle value="2" aria-label="Show all public observations" #tooltip="matTooltip"
        matTooltip="Show all public observations"
        aria-label="Button that displays a tooltip that hides when scrolled out of the container">
        <!-- <mat-icon>public</mat-icon> -->
        Public
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!-- </p> -->
  </div>

  <hr>

  <ng-container *ngIf="itemResults$ | async as results; else loadingOrError">

    <div *ngIf="results.length; else noItems">

      <div *ngFor="let observation of results" [style.height]="itemHeight + 'px'">
        <app-observation-feed-item [observation]="observation" [user]="user"></app-observation-feed-item>
      </div>

    </div>

    <div class="feedEndAlert">
      <p *ngIf="loadingItems">
        <ngb-alert type="info" [dismissible]="false">
          <strong>Loading</strong> <i> Loading more observations...</i>
        </ngb-alert>
      </p>
    </div>

    <div class="feedEndAlert">
      <p *ngIf="allLoaded">
        <ngb-alert type="danger" [dismissible]="false">
          <strong>Information</strong> <i> There are no more items to load...</i>
        </ngb-alert>
      </p>
    </div>

    <ng-template #noItems>No Items!</ng-template>

  </ng-container>


  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      <app-error-display [error]="errorObject"></app-error-display>
    </ng-container>
  </ng-template>

  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading observations...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>