@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

app-observation-feed {
  .feedEndAlert {
    margin: 20px;
  }

  .add-button {
    margin-right: 25px;
  }

  .feed-filter-toggle-group {
    float: right;
  }

  // .mat-button-toggle-label-content {
  //   //line-height: 32px !important; //<-- set the height here
  // }

  @media screen and (max-width: 394px) {
    .add-button {
      margin-right: 1px;
    }
  }
}
