@import url("https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700");

app-observation-feed {
  .feedEndAlert {
    margin: 20px;
  }

  .add-button {
    margin-left: 25px;
  }

  .mat-button-toggle-label-content {
    line-height: 32px !important; //<-- set the height here
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  @media screen and (max-width: 394px) {
    .add-button {
      margin-left: 0px;
    }
  }
  
}
