<div class="container">

    <ng-container *ngIf="analysis$ | async as analysis; else loadingOrError">

        <div *ngIf="analysis.totalObservationsCount">
            <h3><small>You have spotted </small> {{analysis.uniqueSpeciesCount}} <small> species <br>in</small>
                {{analysis.totalObservationsCount}} <small>
                    {{ analysis.totalObservationsCount > 1 ? 'observations' : 'observation' }} </small></h3>
        </div>
        <div *ngIf="!analysis.totalObservationsCount">
            <p>You have not yet logged an observation! <br>
                <a routerLink="/observation-add">Click here</a> to add your first one
            </p>
        </div>

    </ng-container>


    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container">
            <p><em>Loading...</em></p>
            <mat-spinner style="margin:0 auto;"></mat-spinner>
        </div>
    </ng-template>

</div>