app-info-observation-count {
  text-align: center;

  .analysis-text {
    font-size: 1.2em;
  }

  .count-text {
    font-size: 1.5em;
  }
  //text-align: center;

  // margin: 5% 10%; //(top, bottom) / (right, left)
  // top margin is 25px
  // right and left margins are 50px
  // bottom margin is 75px
  // .container {
  //   text-align: center;
  //   padding-top: 10px;
  //   padding-bottom: 10px;
  // }

  .loading-placeholder {
    text-align: center;
    .mat-spinner {
      margin: 0 auto;
    }
  }
}
