app-song-recordings {
    text-align: center;

    .container {
        margin-top: 10px;
    }

    .loading {
        text-align: left;
    }

    .info {
        text-align: right;
    }

    .small-italic {
        font-size: small;
        font-style: italic;
        margin-bottom: 8px;
    }
}
