<div class="container">

    <ng-container *ngIf="recordings$ | async as recordings; else loadingOrError">

        <div *ngIf="recordings.length">
            <h5>Bird song recordings</h5>

            <div
                *ngFor="let item of recordings | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; index as i">
                <div>
                    <audio controls>
                        <source src="{{item.url}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>

            <div class="small-italic">
                Total recordings: {{ recordings.length }}
            </div>

            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="recordings.length"
                class="d-flex justify-content-center" size="sm" [maxSize]="9" [rotate]="true" [boundaryLinks]="true">
            </ngb-pagination>

            <hr>
            <div class="info"><small>The recordings are from <em><a href='https://www.xeno-canto.org/'
                            target='_blank'>xeno-canto.org</a></em></small></div>

        </div>

        
        <div *ngIf="!recordings.length">
            <p>
                <ngb-alert type="info" [dismissible]="false">
                    <strong>We're sorry!</strong> There are no recordings available for this species
                </ngb-alert>
            </p>
        </div>

    </ng-container>


    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="loading">
            <p><em>Loading...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>