<p>
    Bird id: {{birdId}}
</p>

<div>
    <table class="table table-striped" *ngIf="observations">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Qty</th>
                <th scope="col">Date/Time</th>
                <th scope="col">By</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of observations; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ record.quantity }}</td>
                <td>{{ record.observationDateTime | date: 'dd/MM/yyyy \'at\' h:mm a' }}</td>
                <td>{{ record.user.userName }}</td>
            </tr>
        </tbody>
    </table>
</div>