<div class="wrapper">

    <div>
        <h4 class="main-title">The Features</h4>
        <p *ngIf="showBlurb"><span class="italics">Birder</span> is a free website for logging, sharing, and analysing bird observations.</p>
    </div>

    <div class="features">

        <hr class="section">

        <!-- Start -->
        <div class="row section">

            <div class="col-md-4 title first">
                <img src="/checklist.png" alt="Log image">
            </div>

            <div class="col-md-8 text second">
                <h5 class="section-title">Log</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>

            <div class="icon-credit third">Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
                from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>


        </div>

        <hr class="section">

        <!-- Start -->
        <div class="row section">

            <div class="col-md-8 text second">
                <h5 class="section-title">Share</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>

            <div class="col-md-4 title first">
                <img src="/network.png" alt="Share image">
            </div>

            <div class="icon-credit third">Icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>
                from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>

        </div>
        <!-- End -->

        <hr class="section">

        <!-- Start -->
        <div class="row section">

            <div class="col-md-4 title first">
                <img src="/interpretation.png" alt="Analyse image">
            </div>

            <div class="col-md-8 text second">
                <h5 class="section-title">Analyse</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>

            <div class="icon-credit third">Icon made by <a href="https://www.flaticon.com/authors/eucalyp"
                    title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/"
                    title="Flaticon">www.flaticon.com</a>
            </div>

        </div>
        <!-- End -->

        <hr class="section">

        <!-- Start -->
        <div class="row section">

            <div class="col-md-8 text second">
                <h5 class="section-title">Learn</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla
                    pariatur.
                </p>
            </div>

            <div class="col-md-4 title first">
                <img src="/reading.png" alt="Learn image">
            </div>

            <div class="icon-credit third">Icon made by <a href="https://www.flaticon.com/authors/monkik"
                    title="monkik">monkik</a> from <a href="https://www.flaticon.com/"
                    title="Flaticon">www.flaticon.com</a>
            </div>

        </div>
        <!-- End -->
    </div>
</div>