app-features {
    .header-section {
        text-align: center;
    }

    .title {
        text-align: center;
        margin: auto;
    }

    .italics {
        font-style: italic;
      }

    .section-title {
        margin: 5% 0% 5%;
        text-align: center;
    }

    .text {
        text-align: justify;
    }

    .icon-credit {
        text-align: center;
        margin: 0 auto;
        font-size: 0.8em;
    }

    //medium screen size and below
    @media only screen and (max-width: 992px) {
        .first {
            order: 1;
        }
        .second {
            order: 2;
        }
        .third {
            order: 3;
        }
        .wrapper {
            //border: black; border-style: solid;

            margin: 3% 5%; //(top, bottom) / (right, left)
        }
        .features {
            margin: 3% 5%; //(top, bottom) / (right, left)
        }
    }

    @media only screen and (min-width: 992px) {
        .wrapper {
            //border: black; border-style: solid;

            margin: 3% 15%; //(top, bottom) / (right, left)
        }
        .features {
            margin: 3% 15%; //(top, bottom) / (right, left)
        }
    }
}
