<div class="container">
  <div class="row">
    <div class='col-sm-2'>
    </div>
    <div class="col-sm-8">
      <div class="reset-password-container">
        <h2 class="section-title">Reset Password</h2>
        <!-- <div *ngIf="unsuccessful" class="alert alert-danger">
          <p>Invalid registration</p>
          <ul>
            <li *ngFor="let error of errorReport.modelStateErrors">
              {{ error }}
            </li>
          </ul>
        </div> -->

        <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit(resetPasswordForm.value)">
          <mat-form-field class="full-width" hidden>
            <input matInput type="text" placeholder="" formControlName="code">
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngFor="let validation of reset_password_validation_messages.email">
              <mat-error class="error-message"
                *ngIf="resetPasswordForm.get('email').hasError(validation.type) && (resetPasswordForm.get('email').dirty || resetPasswordForm.get('email').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <div formGroupName="matching_passwords">
            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="New password" formControlName="password" required>
              <mat-error *ngFor="let validation of reset_password_validation_messages.password">
                <mat-error class="error-message"
                  *ngIf="resetPasswordForm.get('matching_passwords').get('password').hasError(validation.type) && (resetPasswordForm.get('matching_passwords').get('password').dirty || resetPasswordForm.get('matching_passwords').get('password').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPassword"
                [errorStateMatcher]="parentErrorStateMatcher" required>
              <mat-error *ngFor="let validation of reset_password_validation_messages.confirmPassword">
                <mat-error class="error-message"
                  *ngIf="(resetPasswordForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| resetPasswordForm.get('matching_passwords').hasError(validation.type)) && (resetPasswordForm.get('matching_passwords').get('confirmPassword').dirty || resetPasswordForm.get('matching_passwords').get('confirmPassword').touched)">
                  {{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary"
            [disabled]="!resetPasswordForm.valid">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class='col-sm-2'>
    </div>
  </div>
