<div class="wrapper" *ngIf="observation">
    <article>

        <div class="title">
            <h4>
                {{ observation.quantity > 1 ? observation.quantity : '' }} {{ observation.bird.englishName }}
                <span class="scientific-name">{{observation.bird.species}}</span>
            </h4>
        </div>

        <div class="flex-container">
            <div class="avatar" style="flex-grow: 1">
                <img src="{{observation.bird.thumbnailUrl}}" alt="{{ observation.bird.species }}" placement="bottom"
                    ngbTooltip="{{ observation.bird.species }}">
            </div>

            <div class="information" style="flex-grow: 10">

                <p class="user">
                    <mat-icon>person</mat-icon><span class="aligned-with-icon">
                        {{observation.user.userName}}
                        <!-- <a routerLink="/user-profile/{{observation.user.userName}}">
                            {{observation.user.userName === 'user.userName' ? 'You' : observation.user.userName}}
                        </a> -->
                    </span>
                </p>

                <p class="date">
                    <mat-icon>date_range</mat-icon><span class="aligned-with-icon">
                        {{observation.observationDateTime |
                        date: 'EEEE, d MMMM yyyy\';\' HH:mm'}} </span>
                </p>

                <p class="location">
                    <mat-icon>location_on</mat-icon><span class="aligned-with-icon">
                        {{ observation.position.formattedAddress }}
                    </span>
                </p>

                <p class="links">
                    <a [routerLink]='["/login"]'>
                        Login
                    </a>
                    or
                    <a [routerLink]='["/register"]'>
                        Register
                    </a>
                    to see more...
                    <!-- <a routerLink="/observation-detail/{{observation.observationId}}">
                        View
                    </a>
                    <a *ngIf="observation.user.userName === 'user.userName'"
                        routerLink="/observation-edit/{{observation.observationId}}">
                        | Edit
                    </a>
                    <a *ngIf="observation.user.userName === 'user.userName'"
                        routerLink="/observation-delete/{{observation.observationId}}">
                        | Delete
                    </a> -->
                </p>
            </div>
        </div>
    </article>
</div>

<!-- <div class="wrapper" *ngIf="observation">
    <article>

        <div class="title">
            <h4>
                {{ observation.quantity > 1 ? observation.quantity : '' }} {{ observation.bird.englishName }}
                <span class="scientific-name">{{observation.bird.species}}</span>
            </h4>
        </div>

        <div class="flex-container">
            <div class="avatar" style="flex-grow: 1">
                <img src="{{observation.bird.thumbnailUrl}}" alt="{{ observation.bird.species }}" placement="bottom"
                    ngbTooltip="{{ observation.bird.species }}">
            </div>

            <div class="information" style="flex-grow: 10">

                <p class="user">
                    <mat-icon>person</mat-icon><span class="aligned-with-icon">
                        <a routerLink="/user-profile/{{observation.user.userName}}">
                            {{observation.user.userName === 'user.userName' ? 'You' : observation.user.userName}}
                        </a>
                    </span>
                </p>

                <p class="date">
                    <mat-icon>date_range</mat-icon><span class="aligned-with-icon">
                        {{observation.observationDateTime |
                        date: 'EEEE, d MMMM yyyy\';\' h:mm'}} </span>
                </p>

                <p class="location">
                    <mat-icon>location_on</mat-icon><span class="aligned-with-icon">
                        {{ observation.position.formattedAddress }}
                    </span>
                </p>

                <p class="lines">
                    
                        <a routerLink="/observation-detail/{{observation.observationId}}">
                            Login
                        </a>
                        or
                        <a [routerLink]='["/register"]'>
                            Register
                        </a>
                        to view the full details of this observation...
                </p>
            </div>
        </div>
    </article>
</div> -->