<div class="container">

    <h3 class="section-title">Change Password</h3>

    <div *ngIf="unsuccessful" class="alert alert-danger">
      <p>Invalid registration</p>
      <ul>
        <li *ngFor="let error of errorReport.modelStateErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit(changePasswordForm.value)">
      <!-- <mat-form-field class="full-width">
          <input matInput maxlength="25" placeholder="Username" formControlName="userName" required
            (input)="checkUsernameIsAvailable()">
          <mat-icon *ngIf="(isUsernameAvailable) && (changePasswordForm.get('userName').valid)" matSuffix
            color="primary" matTooltip="This username is available">check</mat-icon>
          <mat-icon *ngIf="(!isUsernameAvailable) && (changePasswordForm.get('userName').valid)" matSuffix color="warn"
            matTooltip="This username is taken">cancel</mat-icon>
          <mat-error *ngFor="let validation of changePassword_validation_messages.userName">
            <mat-error class="error-message"
              *ngIf="changePasswordForm.get('userName').hasError(validation.type) && (changePasswordForm.get('userName').dirty || changePasswordForm.get('userName').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field> -->

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Current password" formControlName="oldPassword" required>
        <mat-error *ngFor="let validation of changePassword_validation_messages.oldPassword">
          <mat-error class="error-message"
            *ngIf="changePasswordForm.get('oldPassword').hasError(validation.type) && (changePasswordForm.get('oldPassword').dirty || changePasswordForm.get('oldPassword').touched)">
            {{validation.message}}</mat-error>
        </mat-error>
      </mat-form-field>

      <div formGroupName="matching_passwords">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="New password" formControlName="newPassword" required>
          <mat-error *ngFor="let validation of changePassword_validation_messages.newPassword">
            <mat-error class="error-message"
              *ngIf="changePasswordForm.get('matching_passwords').get('newPassword').hasError(validation.type) && (changePasswordForm.get('matching_passwords').get('newPassword').dirty || changePasswordForm.get('matching_passwords').get('newPassword').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Confirm new password" formControlName="confirmPassword"
            [errorStateMatcher]="parentErrorStateMatcher" required>
          <mat-error *ngFor="let validation of changePassword_validation_messages.confirmPassword">
            <mat-error class="error-message"
              *ngIf="(changePasswordForm.get('matching_passwords').get('confirmPassword').hasError(validation.type)|| changePasswordForm.get('matching_passwords').hasError(validation.type)) && (changePasswordForm.get('matching_passwords').get('confirmPassword').dirty || changePasswordForm.get('matching_passwords').get('confirmPassword').touched)">
              {{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="full-width alert">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>Please note:</strong> if you make changes you will need to login again.
          </ngb-alert>
        </p>
      </div>

      <section>
        <button mat-stroked-button *ngIf="!requesting" type="submit" [disabled]="!changePasswordForm.valid"
          #tooltip="matTooltip" matTooltip="Change your password"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container">
          Change password
        </button>
        <button mat-stroked-button *ngIf="requesting" disabled>
          Changing password...
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </section>



      <!-- <button type="button" class="btn btn-primary" [disabled]="!changePasswordForm.valid">
        Submit
      </button> -->

    </form>


</div>