app-observation-feed-item {
    @media only screen and (max-width: 768px) {
        .wrapper {
            margin: 15px;
        }

        .flex-container {
            display: flex;
            align-items: stretch;
            margin: 0em 0;
        }

        .flex-container > div {
            margin: 5px;
            height: 107px;
        }

        // .avatar {
        //     // text-align: center;
        // }

        .avatar img {
            max-height: 100%;
            max-width: 100%;
        }

        // .information {
        //     //margin-left: 10px;
        // }

        p {
            margin: 0em 0;
        }

        .title-big {
            display: none;
        }

        .title-small {
            .scientific-name {
                font-size: 75%;
                font-style: italic;
                margin: 0em 0;
            }
        }

        p.date-big {
            display: none;
        }

        p.date-small {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.user {
            font-size: small;
        }

        p.location-small {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.location-big {
            display: none;
        }

        p.links {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
        }

        .mat-icon {
            vertical-align: center;
        }

        .aligned-with-icon {
            position: absolute;
            margin-left: 5px;
        }
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    // @media only screen and (min-width: 600px) {
    //     // th.stat, td.stat {
    //     //     display: none;
    //     // }
    // }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .wrapper {
            margin: 15px;
        }

        .flex-container {
            display: flex;
            align-items: stretch;
            margin: 0em 0;
        }

        .flex-container > div {
            margin: 5px;
            height: 107px;
        }

        // .avatar {
        //     // text-align: center;
        // }

        .avatar img {
            max-height: 100%;
            max-width: 100%;
        }

        // .information {
        //     //margin-left: 10px;
        // }

        p {
            margin: 0em 0;
        }

        .title-big {
            .scientific-name {
                font-size: small;
                font-style: italic;
                margin: 0em 0;
            }
        }

        .title-small {
            display: none;
        }

        p.date-small {
            display: none;
        }

        p.date-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.user {
            font-size: small;
        }

        p.location-small {
            display: none;
        }

        p.location-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.links {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
        }

        .mat-icon {
            vertical-align: center;
        }

        .aligned-with-icon {
            position: absolute;
            margin-left: 5px;
        }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .wrapper {
            margin: 15px;
        }

        .flex-container {
            display: flex;
            align-items: stretch;
            margin: 0em 0;
        }

        .flex-container > div {
            margin: 5px;
            height: 107px;
        }

        // .avatar {
        //     // text-align: center;
        // }

        .avatar img {
            max-height: 100%;
            max-width: 100%;
        }

        // .information {
        //     //margin-left: 10px;
        // }

        p {
            margin: 0em 0;
        }

        .title-big {
            .scientific-name {
                font-size: small;
                font-style: italic;
                margin: 0em 0;
            }
        }

        .title-small {
            display: none;
        }

        p.date-small {
            display: none;
        }

        p.date-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.user {
            font-size: small;
        }

        p.location-small {
            display: none;
        }

        p.location-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.links {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
        }

        .mat-icon {
            vertical-align: center;
        }

        .aligned-with-icon {
            position: absolute;
            margin-left: 5px;
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        .wrapper {
            margin: 15px;
        }

        .flex-container {
            display: flex;
            align-items: stretch;
            margin: 0em 0;
        }

        .flex-container > div {
            margin: 5px;
            height: 107px;
        }

        // .avatar {
        //     // text-align: center;
        // }

        .avatar img {
            max-height: 100%;
            max-width: 100%;
        }

        // .information {
        //     //margin-left: 10px;
        // }

        p {
            margin: 0em 0;
        }

        .title-big {
            .scientific-name {
                font-size: small;
                font-style: italic;
                margin: 0em 0;
            }
        }

        .title-small {
            display: none;
        }

        p.date-small {
            display: none;
        }

        p.date-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.user {
            font-size: small;
        }

        p.location-small {
            display: none;
        }

        p.location-big {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p.links {
            font-size: small;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
        }

        .mat-icon {
            vertical-align: center;
        }

        .aligned-with-icon {
            position: absolute;
            margin-left: 5px;
        }
    }
}
