<div class="wrapper" *ngIf="observation">
    <article>

        <div class="title-big">
            <h4>
                {{ observation.quantity > 1 ? observation.quantity : '' }} <a
                    routerLink="/bird-detail/{{observation.birdId}}">{{ observation.englishName }}</a>
                <span class="scientific-name"> {{observation.species}}</span>
            </h4>
        </div>

        <div class="title-small">
            <p class="species">
                {{ observation.quantity > 1 ? observation.quantity : '' }} <a
                    routerLink="/bird-detail/{{observation.birdId}}">{{ observation.englishName }}</a>
                <span class="scientific-name"> {{observation.species}}</span>
            </p>
        </div>

        <div class="flex-container">
            <div class="avatar" style="flex-grow: 1">
                <img src="{{observation.thumbnailUrl}}" alt="{{ observation.species }}" placement="bottom"
                matTooltip="{{ observation.species }}">
            </div>

            <div class="information" style="flex-grow: 10">

                <p class="user">
                    <mat-icon>person</mat-icon><span class="aligned-with-icon">
                        <a routerLink="/user-profile/{{observation.username}}">
                            {{observation.username === user.userName ? 'You' : observation.username}}
                        </a>
                    </span>
                </p>

                <p class="date-big">
                    <mat-icon>date_range</mat-icon><span class="aligned-with-icon">
                        {{observation.observationDateTime |
                        date: 'EEEE, d MMMM yyyy \'at\' HH:mm'}} </span>
                </p>

                <p class="date-small">
                    <mat-icon>date_range</mat-icon><span class="aligned-with-icon">
                        {{observation.observationDateTime |
                        date: 'dd/MM/yyyy \'at\' HH:mm'}} </span>
                </p>

                <p class="location-big">
                    <mat-icon>location_on</mat-icon><span class="aligned-with-icon">
                        {{ observation.formattedAddress }}
                    </span>
                </p>

                <p class="location-small">
                    <mat-icon>location_on</mat-icon><span class="aligned-with-icon">
                        {{ observation.shortAddress }}
                    </span>
                </p>

                <p class="links">
                    <a routerLink="/observation-detail/{{observation.observationId}}">
                        View
                    </a>
                    <!-- <a *ngIf="observation.user.userName === user.userName"
              routerLink="/observation-manage-photos/{{observation.observationId}}">
              | Manage Photos
            </a> -->
                    <!--  -->
                    <a *ngIf="observation.username === user.userName"
                        routerLink="/observation-edit/{{observation.observationId}}">
                        | Edit
                    </a>
                    <a *ngIf="observation.username === user.userName"
                        routerLink="/observation-delete/{{observation.observationId}}">
                        | Delete
                    </a>
                </p>
            </div>
        </div>
    </article>
</div>