app-observation-add {
  .container {
    margin-top: 10px;
    margin-right: 30px;
  }

  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .info-message {
    margin-top: 20px;
    text-align: left;
  }

  .aligned-with-icon {
    position: absolute;
    text-align: left;
    // margin-top: 5px;
    // margin-left: 5px; /* optional */
  }

  // Workaround for https://github.com/angular/material2/issues/4580.
  // mat-form-field .mat-form-field {
  //   &-underline {
  //     position: relative;
  //     bottom: auto;
  //   }
  //   &-subscript-wrapper {
  //     position: static;
  //   }
  // }

  .section-title {
    margin-bottom: 20px;
  }

  .observation-add-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .half-width {
    width: 50%;
    margin-bottom: 10px;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }

  .submit-btn {
    margin-top: 10px;
  }
}

agm-map {
  height: 300px;
  padding: 2px;
}
