<div class="container">
  <div class="menu">
    <h4 class="title">Account Manager Menu</h4>

    <div class="container flex-container">
      <button type="button" class="btn btn-light" [routerLink]='["/account-manager-profile"]'>Manage Profile</button>
      <button type="button" class="btn btn-light" [routerLink]='["/account-manager-location"]'>Set Default
        Location</button>
      <button type="button" class="btn btn-light" [routerLink]='["/account-manager-password"]'>Change Password</button>
      <button type="button" class="btn btn-light" [routerLink]='["/account-manager-avatar"]' disabled>Change
        Avatar</button>
    </div>
    
  </div>
</div>