<div class="container">

    <ng-container *ngIf="observations$ | async as observations; else loadingOrError">

        <div *ngIf="observations.items.length">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">Qty</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">User</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of observations.items; index as i">
                        <!-- <th scope="row">{{ i + 1 }}</th> -->
                        <td>{{ record.quantity }}</td>
                        <td>{{ record.observationDateTime | date: 'dd/MM/yyyy \'at\' h:mm a' }}</td>
                        <td><a routerLink="/user-profile/{{ record.username }}">{{ record.username }}</a></td>
                        <td><a routerLink="/observation-detail/{{ record.observationId }}">View</a></td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="observations.totalItems"
                [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="changePage()">
            </ngb-pagination>

        </div>

        <div *ngIf="!observations.items.length">
            <p>
                <ngb-alert type="warning" [dismissible]="false">
                    there are no records for this species
                </ngb-alert>
            </p>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container loading">
            <p><em>Loading observations...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>