<div *ngIf="!bird" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="bird">
  <h4>{{ bird.englishName }} <small><i>{{ bird.species }}</i></small></h4>
  <br>

  <div class="example-headers-align">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Details
        </mat-panel-title>
        <mat-panel-description>
          Detailed information...
          <mat-icon>nature_people</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row">
        <div class="flex-container col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="Class" value="{{ bird.class }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Order" value="{{ bird.order }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Family" value="{{ bird.family }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Genus" value="{{ bird.genus }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Species" value="{{ bird.species }}" disabled>
          </mat-form-field>
        </div>
        <div class="flex-container col-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="BTO Status in Britain" value="{{ bird.btoStatusInBritain }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Population estimate in Britain" value="{{ bird.populationSize }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Conservation Status" value="{{ bird.birdConservationStatus.conservationList }}"
            [style.color]="bird.birdConservationStatus.conservationListColourCode" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Birder Status" value="{{ bird.birderStatus }}" disabled>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput placeholder="Category" value="{{ bird.category }}" disabled>
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
    <!--  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          Where did you observe it?
          <mat-icon>add_location</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    <!--  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Photographs
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          Latest photos from Flickr
          <mat-icon>add_photo_alternate</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
    <!--  -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Latest Observations
        </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
          Add tags to organise your obervations
          <mat-icon>local_offer</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
          {{ lazyObservations }}
        </ng-template>
          <!-- <div *ngIf="observations">
          <p *ngIf="observations.length < 1">The {{ bird.englishName }} has never been observed.</p>
          <p *ngIf="observations.length > 1">The {{ bird.englishName }} has been observed {{ observations.length }} times:</p>
        </div> -->

        <!--  -->
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
      
            <!-- Species names -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Qty </th>
              <td mat-cell *matCellDef="let observation"><a routerLink="/birds-detail/{{observation.observationId}}"> {{ observation.quantity }}</a>
                </td>
            </ng-container>
      
            <!-- Status & population in UK -->
            <ng-container matColumnDef="bird">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Species </th>
              <td mat-cell *matCellDef="let observation"> {{ observation.bird.englishName }} </td>
            </ng-container>
      
            <!-- Risk -->
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Birder </th>
              <td mat-cell *matCellDef="let observation"> {{ observation.user.userName }} </td>
            </ng-container>
     
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let observation; columns: displayedColumns;">
            </tr>
          </table>
      
          <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        <!--  -->
        

    </mat-expansion-panel>
    <!--  -->
    <!-- </mat-accordion> -->
  </div>

  <div>
    <button (click)="goBack()">go back</button>
  </div>
  
</div>