<div>

  <div class="container">
    <div class="panel">
      <app-info-observation-count></app-info-observation-count>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-info-tweet-day></app-info-tweet-day>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-info-top-observations></app-info-top-observations>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-info-network></app-info-network>
    </div>
  </div>

  <!-- <div class="container">
  <div class="panel">
    <app-info-awards></app-info-awards>
  </div>
</div> -->

</div>