<div>

  <!-- <div class="panel">
    <app-info-observation-count></app-info-observation-count>
  </div> -->

  <div class="panel">
    <app-observation-count></app-observation-count>
  </div>

   <div class="panel">
    <app-info-tweet></app-info-tweet>
  </div>

  <div class="panel">
    <app-info-top-observations></app-info-top-observations>
  </div>

  <!-- <div class="panel">
    <app-observation-top></app-observation-top>
  </div> -->

  <div class="panel">
    <app-network-sidebar></app-network-sidebar>
  </div>

</div>