<div>

  <div class="container">
    <div class="panel">
      <app-info-observation-count></app-info-observation-count>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-info-tweet></app-info-tweet>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-info-top-observations></app-info-top-observations>
    </div>
  </div>

  <div class="container">
    <div class="panel">
      <app-network-sidebar></app-network-sidebar>
    </div>
  </div>

  <!-- <div class="container">
  <div class="panel">
    <app-info-awards></app-info-awards>
  </div>
</div> -->

</div>