<p>photo-display works!</p>

<!-- <mat-expansion-panel [expanded]="_album.length>0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Photographs
          </mat-panel-title>
          <mat-panel-description class="mat-panel-description-text">
            {{ _album.length > 1 ? _album.length + ' photos' : 'No photos'}}
            <mat-icon>add_photo_alternate</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header> -->
        <!--  -->
        <!-- <ng-container *ngIf="_album.length>0; else noItems">
          <div class="photo-gallery">
            <div *ngFor="let image of _album; let i=index">
              <img [src]="image.thumb" (click)="open(i)" />
            </div>
          </div> -->

          <!-- <div class="content-right">
            <a class="btn btn-success btn-sm" *ngIf="observation.user.userName === user.userName"
              routerLink="/observation-manage-photos/{{observation.observationId}}">Add or Remove Photos</a>
          </div> -->
        <!-- </ng-container> -->
        <!-- <ng-template #noItems>
          <p><em>This feature is currently unavailable. We are working on a new implementation...</em></p> -->
          <!-- <div>
            <a class="btn btn-success btn-sm" *ngIf="observation.user.userName === user.userName"
              routerLink="/observation-manage-photos/{{observation.observationId}}">Add or Remove Photos</a>
          </div> -->
        <!-- </ng-template> -->
        <!--  -->

      <!-- </mat-expansion-panel> -->