app-info-tweet {
    .container {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .loading-placeholder {
        text-align: center;
        .mat-spinner {
            margin: 0 auto;
        }
    }

    .bird {
        display: block;
        line-height: 0%;
    }

    .archive-link {
        text-align: center;
        padding-bottom: 10px;
    }

    .loading {
        text-align: center;
    }
}
