<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- <div class="container-fluid"> -->
    <div class="container">

        <a class="navbar-brand" [routerLink]='["/"]'>
            <img src="/favicon-32x32.png" class="d-inline-block align-top" alt="">
            Birder
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="nav-link" [routerLink]='["/about"]'>About</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]='["/observation-feed"]'>Feed</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]='["/birds-index"]'>Birds</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" routerLink="/life-list/{{authenticatedUser.userName}}">Life List</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="nav-link" [routerLink]='["/network"]'>Network</a>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-plus-square-o"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->

            </ul>

            <div class="right-hand-menu" *ngIf="isLoggedIn">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <mat-icon class="icon">add</mat-icon><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" [routerLink]='["/observation-add"]'>Add single observation</a>
                            </li>
                            <li> <a class="dropdown-item disabled">Add multiple observations</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar" src={{authenticatedUser.avatar}} width="29" height="29"><span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item small-text"
                                routerLink="/user-profile/{{authenticatedUser.userName}}">Signed in
                                as:<br><span class="username">{{ authenticatedUser.userName }}</span></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" routerLink="/user-profile/{{authenticatedUser.userName}}">My
                                Profile</a>
                            <a class="dropdown-item" [routerLink]='["/account-manager-profile"]'>Manage Account</a>
                            <a class="dropdown-item" [routerLink]='["/logout"]'>Logout</a>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="right-hand-menu" *ngIf="!isLoggedIn">
                <ul class="nav navbar-nav me-2">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/login"]'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]='["/register"]'>Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>