app-nav-menu {

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0;
  }

  .navbar-brand {
    //margin-left: 20px;
    padding: 15px;
  }

  .brand-text {
    padding-left: 10px;
  }






.profile-img {
    //margin-top: -5px;
    //margin-right: 5px;
    //float: left;
    /*background: url('../images/if_099374-twitter-bird3_56010.png') 50% 50% no-repeat;
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height  */
    width: 30px;
    height: 30px;
  }
  
  .img-responsive {
    height: auto;
    width: auto;
    max-height: 32px;
    max-width: 32px;
  }
  

  


  
  .nav-link {
    //padding-left: 16px;
  }
  
  /* Highlighting rules for nav menu items  */
  li.link-active a,
  li.link-active a:hover,
  li.link-active a:focus {
    background-color: #4189c7;
    color: white;
  }
  
}