app-nav-menu {
    .dropdown-toggle::after {
        position: absolute;
        bottom: 17px;
        margin-right: 100px;
    }

    .icon {
        font-size: 29px;
    }

    .right-hand-menu {
        margin-right: 15px;
    }

    .small-text {
        font-size: smaller;
    }

    .username {
        font-weight: bold;
    }
}
