<div class="container">
  <div class="menu">
    <h4 class="title">Account Manager Menu</h4>
    <br>
    <div class="container flex-container">
      <button class="link" [routerLink]='["/account-manager-profile"]' mat-raised-button>Manage Profile</button>
      <button class="link" mat-raised-button>Set Default Location</button>
      <button class="link" mat-raised-button>Change Password</button>
      <button class="link" mat-raised-button>Basic</button>
      <button class="link" mat-raised-button>Basic</button>
    </div>
  </div>
</div>