<div class="container">
  <h4>Build your Birder network</h4>

  <div>
    <p>***Hello***</p>
    <form (ngSubmit)="search()">
      <input type="text" name="find" placeholder="Search Birders" [(ngModel)]="searchTerm"
        [ngModelOptions]="{standalone: true}" required>
      <button type="submit" [disabled]="!searchTerm">Search the Birder network</button>
    </form>
    <br>
  </div>
  <div *ngIf="users">
    <h5>{{ customSearch == true ? 'Search Results' : 'Suggested Birders to follow' }}</h5>

    <div *ngFor="let user of users">
      <div class="flex-container network-list">
        <img class="avatar" src="{{user.avatar}}">
        <a class="avatar-title" routerLink="/user-profile/{{user.userName}}">{{user.userName}}</a>
        <div><button mat-button color="primary" (click)="followOrUnfollow($event.target, user)">
            {{ user.isFollowing == true ? 'Unfollow' : 'Follow' }}</button></div>
      </div>
    </div>

    <p *ngIf="users.length == 0 && customSearch == true">We found no search results</p>
    <p *ngIf="users.length == 0 && customSearch == false">There are no Birders to follow</p>

  </div>

</div>