
<div class="container">
    <h1 mat-dialog-title>Edit note</h1>
    <div>
        <form #editNoteForm="ngForm">

            <div class="form-group" hidden>
                <label for="id">id</label>
                <input type="text" class="form-control" id="id" disabled
                    [(ngModel)]="data.id" name="id" #note="ngModel">
            </div>

            <div class="form-group">
                <label for="noteType">Type</label>
                <select class="form-control" id="noteType" required [(ngModel)]="data.noteType" name="noteType"
                    #noteType="ngModel">
                    <option *ngFor="let pow of keys1()" [value]="pow">{{pow}}</option>
                </select>
                <div [hidden]="noteType.valid || noteType.pristine" class="alert alert-danger">
                    Power is required
                </div>
            </div>

            <div class="form-group">
                <label for="note">Note {{ data.note ? data.note.length: '0' }}</label>
                <textarea placeholder="Type your note here... " type="text" class="form-control" id="note" required
                    [(ngModel)]="data.note" name="note" #note="ngModel"></textarea>
                <div [hidden]="note.valid || note.pristine || note.untouched" class="alert alert-danger">
                    Note is required
                </div>
            </div>

        </form>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Exit</button>
        <button mat-button [disabled]="!editNoteForm.form.valid" [mat-dialog-close]="data" cdkFocusInitial>Edit
            note</button>
    </div>

</div>