app-user-profile {
  .flex-container {
    display: flex;
    //font-size: 90%;
  }

  .follow-button {
    float: right;
  }

  .avatar {
    border-radius: 50%;
  }

  .summary {
    line-height: 0.7rem;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {
  //     // th.stat, td.stat {
  //     //     display: none;
  //     // }
  // }

  @media only screen and (max-width: 768px) {
    .user-profile-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }

    .analysis-large {
      display: none;
    }

    .register-large {
      display: none;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .user-profile-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
    .analysis-small {
      display: none;
    }
    .register-small {
      display: none;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .user-profile-container {
      // background: #babba9; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 1%; //(top, bottom) / (right, left)
    }
    .analysis-small {
      display: none;
    }
    .register-small {
      display: none;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) {
  // }

  // @media only screen and (max-width: 767px) {
  //   .analysis-large {
  //     display: none;
  //   }

  //   .register-large {
  //     display: none;
  //   }
  // }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {
  //     // th.stat, td.stat {
  //     //     display: none;
  //     // }
  // }

  /* Medium devices (landscape tablets, 768px and up) */
  // @media only screen and (min-width: 768px) {
  //   .analysis-small {
  //     display: none;
  //   }
  //   .register-small {
  //     display: none;
  //   }
  // }

  /* Large devices (laptops/desktops, 992px and up) */
  // @media only screen and (min-width: 992px) { }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) { }
}
