<div class="user-profile-container">

  <ng-container *ngIf="userProfile$ | async as profile; else loadingOrError">

    <div class="flex-container">
      <div>
        <img class="avatar" src="{{profile.avatar}}"
          onerror="this.src='https://img.icons8.com/color/96/000000/user.png';" alt="Smiley face" height="126"
          width="126">
      </div>
      <div>
        <div class="flex-container">
          <h3>{{ profile.userName }}</h3>
          <div *ngIf="profile.isOwnProfile === false" class="follow-button"><button class="btn btn-link btn-sm"
              (click)="followOrUnfollow($event.target, profile)">
              {{ profile.isFollowing === true ? 'Unfollow' : 'Follow' }}</button></div>
        </div>
        <div *ngIf="analysis$ | async as analysis">
          <div class="summary analysis-large">
            <p>{{ analysis.uniqueSpeciesCount }} species in {{ analysis.totalObservationsCount }} observations</p>
          </div>
          <div *ngIf="analysis" class="summary analysis-small">
            <p>{{ analysis.uniqueSpeciesCount }} species</p>
          </div>
        </div>
        <div class="summary network">
          <p><a routerLink="/followers/{{profile.userName}}">{{ profile.followersCount }} {{
              profile.followersCount > 1 ? 'followers' : 'follower' }}</a>
            /
            <a routerLink="/following/{{profile.userName}}">{{ profile.followingCount }} following</a>
          </p>
        </div>
        <div class="summary register-large">
          <p>Joined on {{ profile.registrationDate | date: 'EEEE, d MMMM yyyy'}}</p>
        </div>
        <div class="summary register-small">
          <p>Joined on {{ profile.registrationDate | date: 'dd/MM/yy'}}</p>
        </div>
      </div>
    </div>

    <br>

    <div>
      <mat-tab-group>
        <mat-tab label="Observations">
          <ng-template matTabContent>
            <app-user-observations-list [username]="profile?.userName"></app-user-observations-list>
          </ng-template>
        </mat-tab>

        <mat-tab label="Distribution Map">
          <ng-template matTabContent>
            <app-distribution-map-user></app-distribution-map-user>
          </ng-template>
        </mat-tab>

        <mat-tab label="Achievements">
          <ng-template matTabContent>
            <app-user-achievements></app-user-achievements>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">

      <app-error-display [error]="errorObject"></app-error-display>

    </ng-container>
  </ng-template>

  
  <ng-template #loading>
    <div class="container loading">
      <p><em>Loading user profile...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>