app-user-profile {
  .flex-container {
    display: flex;
    //font-size: 90%;
  }

  .follow-button {
    float: right;
  }

  .avatar {
    border-radius: 50%;
  }

  .summary {
    line-height: 0.7rem;
  }

  @media only screen and (max-width: 767px) {
    .analysis-large {
      display: none;
    }

    .register-large {
      display: none;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {
  //     // th.stat, td.stat {
  //     //     display: none;
  //     // }
  // }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .analysis-small {
      display: none;
    }
    .register-small {
      display: none;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  // @media only screen and (min-width: 992px) { }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) { }
}
