<div class="container">

  <p>Top Observations</p>

  <div *ngIf="!analysis" class="loading">
    <p><em>Loading...</em></p>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="analysis">
    <ngb-tabset justify="fill">
      <ngb-tab title="All Time">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Species</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of analysis.topObservations; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ record.name }}</td>
                <td>{{ record.count | number }}</td>
              </tr>
            </tbody>
          </table>

        </ng-template>
      </ngb-tab>
      <ngb-tab title="Month">
        <ng-template ngbTabContent>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Species</th>
                <th scope="col">Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of analysis.topMonthlyObservations; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <!-- <td>
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                        {{ country.name }}
                      </td> -->
                <td>{{ record.name }}</td>
                <td>{{ record.count | number }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>