<div class="container">
    <div class="home-container">
        
        <div class="section">
            <div class='row-p'>
                <div class='column'>
                    <div>
                        <img src="./assets/Birder-Logo-With-Text.png" alt="Birder">
                    </div>
                    <div class='green-column'>
                        <div>
                            <button type="submit" class="btn btn-outline-info" [routerLink]='["/register"]'>
                                New to Birder? Start here
                            </button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-info" [routerLink]='["/login"]'>
                                Already have an account? Login here
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="section">
            <p>Features</p>

            <div class='row-p'>

                <div class='column'>
                    <div class='green-column'>
                        <p>Features</p>
                        <!-- <div>
                        <button type="submit" class="btn btn-outline-info" [routerLink]='["/register"]'>
                            New to Birder?  Start here
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-info" [routerLink]='["/login"]'>
                            Already have an account? Login here
                        </button>
                    </div> -->
                    </div>
                </div>
                <!-- <div class='column'>
                <div class='green-column'>
                    <h4>Birder</h4>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            New to Birder?  Start here
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">
                            Already have an account? Login here
                        </button>
                    </div>
                </div>
            </div> -->
            </div>
        </div>
    </div>
</div>