<div class="container">
    <div class="home-container">
        <div class="section">
            <div class='row-p'>
                <div class='column'>
                    <div>
                        <img src="https://birder.blob.core.windows.net/shared-images/Birder-Logo-With-Text.png"
                            alt="Birder">
                    </div>
                    <div>
                        <p>Log your bird observations with <i>Birder</i>, and share them with your network of fellow
                            <i>Birders</i>
                        </p>
                    </div>
                    <div class="example-button-row">
                        <a mat-stroked-button [routerLink]='["/login"]'>Login</a>
                        or &nbsp;
                        <a mat-stroked-button [routerLink]='["/register"]'>Register</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="section">
            <h3>Features of <i>Birder</i></h3>

            <h5>Log & share the birds you see</h5>

            <p>Keep an electronic record of your bird sightings with <i>Birder</i>. and share them with your network and
                other <i>Birder</i> users.</p>


            <div class='row-feed'>

                <div class='column'>
                    <div class='green-column'>
                        <p>Your observations are shown in your 'observations feed', along with those logged by your
                            network, and all
                            public sightings.</p>

                        <p>Here is a preview of the 'observations feed':</p>

                        <div class="showcase-observations">
                            <app-showcase-observation-feed></app-showcase-observation-feed>
                        </div>

                    </div>
                </div>
                <!--  -->

                <!-- <div class='column'>
                    <div class='green-column'>
                        <h4>Birder</h4>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                New to Birder? Start here
                            </button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Already have an account? Login here
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <hr>

        <div class="section">


            <div class='row-p'>
                <div class='column'>
                    <div class='green-column'>
                        <h5>Analyse your observations</h5>

                        <p>With <i>Birder</i> you can analyse your observations in various ways. Your 'life list' is a
                            record of the unique species your have spotted.<br>You can filter the Life List by year to
                            create an annual list too.</p>


                        <div class="life-list-image">
                            <p class="life-list-image-caption">The 'life list' page:</p>
                            <!-- <img src="./assets/Birder-Logo-With-Text.png" alt="Birder"> -->
                            <img src="https://birder.blob.core.windows.net/shared-images/life-list-screenshot.png"
                                alt="Life List Capion">
                        </div>

                    </div>
                </div>
                <!--  -->

                <!-- <div class='column'>
                    <div class='green-column'>
                        <h4>Birder</h4>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                New to Birder? Start here
                            </button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Already have an account? Login here
                            </button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>