app-home {
    .container {
      margin-top: 15px;
    //   margin-right: 50px;
    }
  
    .section-title {
      margin-bottom: 20px;
    }
  
    .home-container {
      padding: 20px;
      text-align: center;
    }

}