app-home {
  .container {
    margin-top: 15px;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .home-container {
    margin: auto;
    padding: 20px;
    text-align: center;
    border: 3px solid #73ad21;
  }
}
