<div class="container">
  <h3>Your observations feed</h3>

  <hr>

  <div class="row">
    <div class="col">
      <div>
        <a class="btn btn-success" [routerLink]='["/observation-add"]'>Add Observation</a>
      </div>
    </div>
    <div class="text-right">
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="currentFilter"
        (change)="onFilterFeed()">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="0">Your Network
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1">Your Own
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="2">Public
        </label>
      </div>
    </div>
  </div>

  <hr>

  <div *ngIf="itemResults$ | async as results; else loading">
    <ng-container *ngIf="results.length; else noItems">
      <div *ngFor="let observation of results" [style.height]="itemHeight + 'px'">
        <div class="timeline-item"
          attr.myValue="{{observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' h:mm a'}}">


          <div class="row">
            <div class="col-sm-2 d-none d-lg-block">
              <img src="{{ observation.bird.thumbnailUrl }}" class="card-img" alt="{{ observation.bird.species }}" placement="bottom" ngbTooltip="{{ observation.bird.species }}">
              <!-- width="75px" height="75px" -->
            </div>
            <div class="col-sm-10">
              <h4 class="lines"><b>{{observation.quantity}}</b>
                <a routerLink="/birds-detail/{{observation.bird.birdId}}">
                  {{observation.bird.englishName}}
                </a>
                {{observation.quantity > 1 ? 'were' : 'was'}}
                spotted by <a routerLink="/user-profile/{{observation.user.userName}}">
                  {{observation.user.userName === user.userName ? 'You' : observation.user.userName}}
                </a>
              </h4>

              <p class="location">
                <mat-icon>location_on</mat-icon><span class="aligned-with-icon"> --insert location-- </span>
              </p>

              <p class="lines">
                <a routerLink="/observation-detail/{{observation.observationId}}">
                  View
                </a>
                <!-- <a *ngIf="observation.user.userName === user.userName"
                  routerLink="/observation-manage-photos/{{observation.observationId}}">
                  | Manage Photos
                </a> -->
                <a *ngIf="observation.user.userName === user.userName"
                  routerLink="/observation-edit/{{observation.observationId}}">
                  | Edit
                </a>
                <a *ngIf="observation.user.userName === user.userName"
                  routerLink="/observation-delete/{{observation.observationId}}">
                  | Delete
                </a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noItems>No Items!</ng-template>
  </div>
  <ng-template #loading>
    <!-- <div *ngIf="!analysis" class="loading"></div> -->
    <div class="loading">
      <p><em>Loading your feed...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>



  <div class="feedEndAlert">
    <p *ngIf="allLoaded">
      <ngb-alert [dismissible]="false">
        <strong><i>Information </i></strong> There are no more items to load...
      </ngb-alert>
    </p>
  </div>

</div>







<!-- <div *ngIf="!observations" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="observations">

  <h4>Your observations feed</h4>

  <div>
    <a class="nav-link" [routerLink]='["/observation-add"]'>Add Observation</a>
  </div>

  <div *ngFor="let observation of observations">
    <div class="timeline-item"
      attr.myValue="{{observation.observationDateTime | date: 'EEEE, d MMMM yyyy \'at\' h:mm a'}}">
      <h1><b>{{observation.quantity}}</b> {{observation.bird.englishName}} {{observation.quantity > 1 ? 'were' : 'was'}}
        spotted by <a routerLink="/user-profile/{{observation.user.userName}}">
          {{observation.user.userName}}
        </a></h1>

      <a routerLink="/observation-detail/{{observation.observationId}}">
        View |
      </a>
      <a routerLink="/observation-edit/{{observation.observationId}}">
        Edit |
      </a>
      <a routerLink="/observation-delete/{{observation.observationId}}">
        Delete
      </a>
    </div>
  </div> -->