.body-content {
  padding-top: 50px;
}

.side-content {
  padding-top: 50px;
}

@media (max-width: 767px) {

  .body-content {
    padding-top: 50px;
  }

  .side-content {
    padding-top: 50px;
  }
}
