<p>add-notes works!</p>

<div class="container">
    <div>
        <!-- <div [hidden]="submitted"> -->
        <h1>Hero Form</h1>
        <form (ngSubmit)="onSubmit(); heroForm.reset({ noteType: 'General' })" #heroForm="ngForm">

            <div class="form-group">
                <label for="noteType">Type</label>
                <select class="form-control" id="noteType" required [(ngModel)]="model.noteType" name="noteType"
                    #noteType="ngModel">
                    <option *ngFor="let pow of keys1()" [value]="pow">{{pow}}</option>
                </select>
                <div [hidden]="noteType.valid || noteType.pristine" class="alert alert-danger">
                    Power is required
                </div>
            </div>

            <div class="form-group">
                <label for="note">Note {{ model.note ? model.note.length: '0' }}</label>
                <!-- {{model.note.length}} -->
                <textarea type="text" class="form-control" id="note" required [(ngModel)]="model.note" name="note"
                    #note="ngModel"></textarea>
                <div [hidden]="note.valid || note.pristine || note.untouched" class="alert alert-danger">
                    Note is required
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" [(ngModel)]="model.alterEgo" name="alterEgo">
            </div> -->



            <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
            <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
            <i>with</i> reset -->

            <!-- &nbsp;&nbsp;
            <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
            <i>without</i> reset -->

            <!-- NOT SHOWN IN DOCS -->
            <div>
                <hr>
                Name via form.controls = {{showFormControls(heroForm)}}
            </div>
            <!-- - -->
        </form>
    </div>

    <hr>

    <div *ngIf="notes">
        <ng-container *ngIf="notes.length; else noItems">
            <!-- <p class="italic">
                Total notes: {{ notes.length }}
            </p> -->

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Type</th>
                        <th scope="col">Note</th>
                        <!-- <th scope="col">Date/Time</th> -->
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let note of notes; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ note.noteType }}</td>
                        <td>{{ note.note }}</td>
                        <td style="float:right;"><button mat-icon-button color="primary" (click)="removeNote(note)">
                                <mat-icon>delete_forever</mat-icon>
                            </button></td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="totalItems" [(page)]="page"
                [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="changePage()"></ngb-pagination> -->

        </ng-container>

        <ng-template #noItems>
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                No Notes.
            </ngb-alert>
        </ng-template>
    </div>





</div>