<div class="container">
  <h3 class="section-title">Manage Your Profile</h3>

  <div *ngIf="!requesting; else loading">
    <ng-container *ngIf="manageProfileForm; else error">

      <div *ngIf="invalidChange" class="alert alert-danger">
        <p>Your changes could not be saved</p>
        <ul>
          <li *ngFor="let error of errorReport.modelStateErrors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div>
        <form [formGroup]="manageProfileForm" novalidate (ngSubmit)="onSubmit(manageProfileForm.value)">
          <mat-form-field class="full-width">
            <input matInput type="text" maxlength="25" placeholder="username" formControlName="username" required>
            <!-- (input)="checkUsernameIsAvailable()">  
            This was old way of checking if the username is available -->
            <!-- <mat-spinner *ngIf="(manageProfileForm.get('username').pending)" matSuffix
            color="primary" matTooltip="This username is available">check</mat-spinner> -->
            <!-- <mat-icon *ngIf="(manageProfileForm.get('username').invalid) && (manageProfileForm.get('username').dirty || manageProfileForm.get('username').touched)" matSuffix
            color="warn" matTooltip="This username is taken">cancel</mat-icon> -->
            <p matSuffix style="display: inline;"></p>
            <mat-spinner *ngIf="(manageProfileForm.get('username').pending)" matSuffix [diameter]="18"
              style="float: right; margin-left: 8px"></mat-spinner>
            <mat-error *ngFor="let validation of manageProfile_validation_messages.username">
              <mat-error class="error-message"
                *ngIf="manageProfileForm.get('username').hasError(validation.type) && (manageProfileForm.get('username').dirty || manageProfileForm.get('username').touched)">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="Email" formControlName="email" required>
            <mat-error *ngFor="let validation of manageProfile_validation_messages.email">
              <mat-error class="error-message"
                *ngIf="manageProfileForm.get('email').hasError(validation.type) && (manageProfileForm.get('email').dirty || manageProfileForm.get('email').touched)">
                {{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <div class="full-width alert">
            <p>
              <ngb-alert [dismissible]="false">
                <strong>Please note:</strong> if you make changes you will need to login again.
              </ngb-alert>
            </p>
          </div>

          <section>
            <button mat-stroked-button *ngIf="!updating" type="submit" [disabled]="!manageProfileForm.valid"
              #tooltip="matTooltip" matTooltip="Update your profile"
              aria-label="Button that displays a tooltip that hides when scrolled out of the container">
              Update profile
            </button>
            <button mat-stroked-button *ngIf="updating" disabled>
              Updating your profile...
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>
          </section>

        </form>
      </div>

    </ng-container>

    <ng-template #error>
      <div class="container">
        <p>
          <ngb-alert [dismissible]="false">
            <strong>We're sorry!</strong> There is a problem getting the birds list.
          </ngb-alert>
          <!-- ToDo: reload button here? -->
        </p>
      </div>
    </ng-template>

  </div>

  <ng-template #loading>
    <div class="loading">
      <p><em>Loading your profile...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>