app-account-manager-profile {
  @media only screen and (max-width: 768px) {
    .container {
      margin-top: 30px;
      text-align: center;
    }

    .section-title {
      margin-bottom: 20px;
    }

    .full-width {
      width: 100%;
      margin-bottom: 10px;
    }

    .alert {
      margin: auto;
      display: table;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  // @media only screen and (min-width: 600px) {
  //     // th.stat, td.stat {
  //     //     display: none;
  //     // }
  // }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .container {
      margin-top: 20px;
      text-align: center;
    }

    .section-title {
      margin-bottom: 20px;
    }

    .full-width {
      width: 75%;
      margin-bottom: 10px;
    }

    .alert {
      margin: auto;
      display: table;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  //@media only screen and (min-width: 992px) { }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  //@media only screen and (min-width: 1200px) { }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }
}
