<div class="container">

    <ng-container *ngIf="observations$ | async as observations; else loadingOrError">

        <div *ngIf="observations.items.length">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="hide-small">Qty</th>
                        <th scope="col">Species</th>
                        <th scope="col">Date/Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of observations.items; index as i">
                        <td class="hide-small">{{ record.quantity }}</td>
                        <td><a routerLink="/bird-detail/{{record.birdId}}">{{ record.englishName }}</a>
                            <br><small class="species"> {{ record.species }}</small>
                        </td>
                        <td>{{ record.observationDateTime | date: 'dd/MM/yy\';\' HH:mm' }}</td>
                        <td><a mat-stroked-button routerLink="/observation-detail/{{ record.observationId }}">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="observations.totalItems"
                [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true" (pageChange)="changePage()">
            </ngb-pagination>

        </div>

        <div *ngIf="!observations.items.length">
            <p>
                <ngb-alert type="warning" [dismissible]="false">
                    There are no observations to display
                </ngb-alert>
            </p>
        </div>

    </ng-container>


    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container loading">
            <p><em>Loading observations...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>