app-observation-edit {
  // .section-title {
  //   text-align: center;
  // }

  // .report-summary {
  //   text-align: left;
  // }

  .navigation-menu {
    text-align: center;
  }

  .map {
    margin-bottom: 10px;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .half-width {
    width: 50%;
    margin-bottom: 10px;
  }

  .three-quarter-width {
    width: 75%;
    margin-bottom: 10px;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .observation-edit-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .observation-edit-container {
      // background: #f8ff2c; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 3%; //(top, bottom) / (right, left)
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .observation-edit-container {
      // background: #babba9; // #fff12c; // #dce513;
      // border-radius: 10px;
      margin: 3% 1%; //(top, bottom) / (right, left)
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  // @media only screen and (min-width: 1200px) {
  // }
}
