<div *ngIf="!observation" class="loading">
  <p><em>Loading...</em></p>
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="observation">
  <div class="row">
    <div class='col-sm-1'></div>
    <div class="col-sm-10">
      <div class="observation-edit-container">
        <h2 class="section-title">Edit Observation Report</h2>
        <p class="report-summary"><a routerLink="/user-profile/{{observation.user.userName}}">
            <!-- {{observation.user.userName === user.userName ? 'You' : observation.user.userName}} -->
            You
          </a> observed <b>{{observation.quantity}}</b> <a routerLink="/birds-detail/{{observation.bird.birdId}}">
            {{observation.bird.englishName}}
          </a> <small><em> {{ observation.bird.species }} </em></small>
          <br>on {{ observation.observationDateTime | date: 'EEEE, d MMMM yyyy' }}
        </p>
        <div *ngIf="errorReport" class="alert alert-danger">
          <p>There is an error in your observation</p>
          <ul>
            <li *ngFor="let error of errorReport.modelStateErrors">
              {{ error }}
            </li>
          </ul>
        </div>
        <div *ngIf="observation">
          <form [formGroup]="editObservationForm" novalidate (ngSubmit)="onSubmit(editObservationForm.value)">
            <!-- <mat-accordion> -->
            <div class="example-headers-align">
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Details
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit Details
                    <mat-icon>nature_people</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- details start -->
                <mat-form-field class="full-width" hidden>
                  <input matInput type="number" placeholder="observationId" formControlName="observationId">
                </mat-form-field>

                <mat-form-field class="half-width">
                  <input matInput type="number" placeholder="Quantity" formControlName="quantity" required>
                  <mat-error *ngFor="let validation of editObservation_validation_messages.quantity">
                    <mat-error class="error-message"
                      *ngIf="editObservationForm.get('quantity').hasError(validation.type) && (editObservationForm.get('quantity').dirty || editObservationForm.get('quantity').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <input type="bird" placeholder="Select species" aria-label="Number" matInput formControlName="bird"
                    [matAutocomplete]="auto" required>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let bird of filteredOptions | async" [value]="bird">
                      <p><b>{{ bird.englishName }} </b>, <em> {{ bird.species }} </em></p>
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngFor="let validation of editObservation_validation_messages.bird">
                    <mat-error class="error-message"
                      *ngIf="editObservationForm.get('bird').hasError(validation.type) && (editObservationForm.get('bird').dirty || editObservationForm.get('bird').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="full-width">
                  <mat-select placeholder="Select species" formControlName="birdId" type="number" required>
                    <mat-option *ngFor="let bird of birdsSpecies" [value]="bird.birdId">
                      <p>{{bird.englishName}}, <em> {{ bird.species }}</em> | bird.birderStatus</p>
                    </mat-option>
                  </mat-select>
                  <mat-error *ngFor="let validation of editObservation_validation_messages.birdId">
                    <mat-error class="error-message"
                      *ngIf="editObservationForm.get('birdId').hasError(validation.type) && (editObservationForm.get('birdId').dirty || editObservationForm.get('birdId').touched)">
                      {{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field> -->

                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                    formControlName="observationDateTime">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <!-- details start -->
              </mat-expansion-panel>
              <!--  -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Edit location
                  </mat-panel-title>
                  <mat-panel-description>
                    <small>You can change the oberserved position here</small>
                    <mat-icon>add_location</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- Google map control -->

                <app-view-edit-single-marker-map #map [latitude]="observation?.position?.latitude"
                  [longitude]="observation?.position?.longitude">
                </app-view-edit-single-marker-map>

                <!-- Google map control end -->
              </mat-expansion-panel>
              <!--  -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Notes
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit Notes
                    <mat-icon>create</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- notes start -->
                <!-- <mat-form-field class="full-width">
                  <textarea matInput type="text" placeholder="General comments"
                    formControlName="noteGeneral"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput type="text" placeholder="Comments on habitat"
                    formControlName="noteHabitat"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput type="text" placeholder="Comments on weather"
                    formControlName="noteWeather"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput type="text" placeholder="Comments on appearance"
                    formControlName="noteAppearance"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput type="text" placeholder="Comments on behaviour"
                    formControlName="noteBehaviour"></textarea>
                </mat-form-field>

                <mat-form-field class="full-width">
                  <textarea matInput type="hj" placeholder="Comments on song"
                    formControlName="noteVocalisation"></textarea>
                </mat-form-field> -->
                <!-- notes end -->
              </mat-expansion-panel>
              <!--  -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Photographs
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit photographs
                    <mat-icon>add_photo_alternate</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div>
                  <a class="btn btn-success btn-sm"
                    routerLink="/observation-manage-photos/{{observation.observationId}}">Add or Remove Photos</a>
                </div>
              </mat-expansion-panel>
              <!--  -->
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tags
                  </mat-panel-title>
                  <mat-panel-description>
                    Edit Tags
                    <mat-icon>local_offer</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- DO NOT USE MAT CHIPS-->
                <!-- <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                (removed)="remove(fruit)">
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
              </mat-expansion-panel>
              <!--  -->
              <!-- </mat-accordion> -->
            </div>


            <div>
              <small><em>Observation created at {{ observation.creationDate | date: 'dd/MM/yyyy HH:mm' }}; last updated
                  at
                  {{ observation.lastUpdateDate | date: 'dd/MM/yyyy HH:mm' }}</em></small>
            </div>
            <!-- </div> -->
            <!-- <button class="btn btn-success" [disabled]="!editObservationForm.valid">
              Save Changes
            </button> -->

            <button *ngIf="!requesting" type="submit" class="btn btn-primary" [disabled]="!editObservationForm.valid">
              Update observation
            </button>
            <button *ngIf="requesting" class="btn btn-primary" type="submit" disabled>
              Saving observation...
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            </button>



            <div class="content-right">
              <hr>
              <a [routerLink]="" (click)="goBack()">Go Back</a>
              <a routerLink="/observation-detail/{{observation.observationId}}">
                | Details
              </a>
              <a routerLink="/observation-delete/{{observation.observationId}}">
                | Delete
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class='col-sm-1'></div>
  </div>
</div>