<div>
    <p><i>Birder </i>is built with:</p>
    <ul>
      <li>
        <a href='https://get.asp.net/'>ASP.NET Core</a> and <a
          href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> server-side API<sup>1</sup>
      </li>
      <li>
        <a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for
        client-side single-page application<sup>2</sup>
      </li>
      <li>
        <a href='http://getbootstrap.com/'>Bootstrap</a> layout and styling
      </li>
    </ul>
    <div>
      <small><br><sup>1</sup> As of 12/09/2019, this app uses .NET Core version 2.2.
        <br><sup>2</sup> As of 12/09/2019, the app is built in Angular version 8. It was previously built with
        Angular
        versions 6 and 7.</small>
    </div>
  </div>
