<div class="container">
  <h6>The technology stack:</h6>
  <ul>
    <li>
      <a href='https://get.asp.net/'>ASP.NET Core</a> and <a
        href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> server-side API<sup>1</sup>
    </li>
    <li>
      <a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a>
      client-side application<sup>2</sup> with <a href='http://getbootstrap.com/'>Bootstrap</a> layout and styling
    </li>
    <!-- <li>
        <a href='http://getbootstrap.com/'>Bootstrap</a> layout and styling
      </li> -->
    <li>
      Hosted on <a href='https://azure.microsoft.com/en-gb/overview/'>Azure</a> with <a
        href='https://www.docker.com/'>Docker</a>
    </li>
  </ul>
  <!-- <p><a href="https://github.com/WinthorpeCross/Birder" class="btn btn-info">View on GitHub</a></p> -->

  <!-- <div> -->
  <small><br><sup>1</sup> As of 26/09/2019, ASP.NET Core version 3.0 is in use. It previously used .NET Core 2.2.
    <br><sup>2</sup> As of 12/09/2019, Angular version 8 is in use. Angular versions 6 and 7 were previously
    used.</small>
  <!-- </div> -->
  <br>
  <div class="container">
    <h6>The source code is on GitHub for downloading, forking, or contributing:</h6>
    <p></p>

    <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=star&count=true&size=large"
      frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

    <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&repo=Birder&type=fork&count=true&size=large"
      frameborder="0" scrolling="0" width="158px" height="30px"></iframe>

      <p><em>We need your help and contributions...</em></p>
    <!-- <br>
          <iframe src="https://ghbtns.com/github-btn.html?user=WinthorpeCross&type=follow&count=true&size=large"
      frameborder="0" scrolling="0" width="325px" height="30px"></iframe> -->
  </div>

</div>