<div class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-md-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Scientific classification</h5>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <p class="classification">Class: <span class="bold">{{ bird.class }}</span></p>
            <p class="classification">Order: <span class="bold">{{ bird.order }}</span></p>
            <p class="classification">Family: <span class="bold">{{ bird.family }}</span></p>
            <p class="classification">Genus: <span class="bold">{{ bird.genus }}</span></p>
            <p class="classification">Species: <span class="bold">{{ bird.species }}</span></p>
            <br>
            <h5 class="card-title">Common names</h5>
            <p class="classification">English name: <span class="bold">{{ bird.englishName }}</span></p>
            <p class="classification">International name: <span
                class="bold">{{ bird.internationalName == '' ? 'N/a' : bird.internationalName }}</span></p>
            <!-- totalItems > 1 ? 'times:' : 'time:' -->
            <!-- <p>Family: <span class="bold">{{ bird.family }}</span></p>  -->
            <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">BTO status in the UK</h5>
            <p>BTO status (UK): <span class="bold">{{ bird.btoStatusInBritain }}</span></p>
            <p>Population estimate (UK): <span class="bold">{{ bird.populationSize }}</span></p>
            <p>Birder category: <span class="bold">{{ bird.birderStatus }} species</span></p>
            <br>
            <h5 class="card-title">Conservation status in the UK</h5>
            <p>Risk status: <span class="bold"
                [style.color]="bird.birdConservationStatus.conservationListColourCode">{{ bird.birdConservationStatus.conservationList }}</span>
            </p>
            <p>{{ bird.birdConservationStatus.description }}</p>
            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
