<div>

  <div class="logo-section">
    <a [routerLink]='["/"]'>
      <img src="/logo-and-slogan.png" alt="Birder">
    </a>

    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
      <a mat-tab-link routerLink="/about">About</a>
      <a mat-tab-link [active]="true">Contact</a>
      <a mat-tab-link routerLink="/developer">Developer</a>
      <a mat-tab-link routerLink="/technology">Technology</a>
      <a mat-tab-link routerLink="/future">Future</a>
    </nav>

  </div>

  <div class="contact-content">

    <div>
      <div class="title">
        <h4>Contact</h4>
        <p>Send your feedback, suggestions, or queries.</p>
        <p><a href="" target="_blank"><i class="fa fa-facebook"></i></a>
          &nbsp;
          <a href="https://twitter.com/BirderWeb" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </div>
    </div>

    <div>
      <app-contact-form></app-contact-form>
    </div>

  </div>

</div>