<div class="map-container">

  <ng-container *ngIf="locationMarker; else loadingOrError">

    <div>

      <form class="form-inline map-controls" (ngSubmit)="findAddress(searchAddress)">

        <input class="form-control" type="text" name="searchAddress" placeholder="Type location here"
          [(ngModel)]="searchAddress" [ngModelOptions]="{standalone: true}" required>

        <button mat-stroked-button type="submit" triggers="mouseenter:mouseleave"
          ngbPopover='- Type a place name (e.g. Canterbury, UK); or a specific address (e.g. 1 High St, Canterbury CT1 2JH)'
          popoverTitle="Search help" aria-label="Search for a location" #tooltip="matTooltip"
          matTooltip="Search for a location">
          <mat-icon>search</mat-icon>
        </button>

        <button mat-stroked-button type="button" (click)="getCurrentPosition()" aria-label="Get your current location"
          #tooltip="matTooltip" matTooltip="Get your current location">
          <mat-icon>my_location</mat-icon>
        </button>

      </form>

      <p *ngIf="geoError">
        <ngb-alert [dismissible]="true" [type]="'danger'" (close)="closeAlert()">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </ngb-alert>
      </p>

    </div>

    <p class="location">
      <mat-icon>location_on</mat-icon>
      <span>{{ position?.formattedAddress }}</span>
    </p>

    <!-- <p class="container location">
      <mat-icon>location_on</mat-icon>
      <span>{{ position?.shortAddress }}</span>
    </p> -->

    <div>
      <google-map height="300px" width="100%" [zoom]="options?.zoom" [center]="locationMarker?.position" [options]="options">
        <map-marker #markerElement="mapMarker" [position]="locationMarker?.position" [options]="locationMarker.options"
          (mapDragend)="markerChanged($event)" (mapClick)="openInfoWindow(markerElement)">
          <map-info-window>{{ position?.formattedAddress }}</map-info-window>
        </map-marker>
      </google-map>
    </div>

  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorObject; else loading">
      <div class="error-message">
        <p>An error occurred</p>
      </div>
    </ng-container>
  </ng-template>


  <ng-template #loading>
    <div class="loading-placeholder">
      <p><em>Loading...</em></p>
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>