app-view-edit-single-marker-map {
    .form-inline {
        //justify-content: center;
        display: flex;
    }
    .map-controls {
        margin: 1%;
    }
    .mat-icon {
        vertical-align: middle;
    }
    .location {
        margin-top: 1%;
        text-align: center;
    }
}
