app-view-edit-single-marker-map {
    .form-inline {
        //justify-content: center;
        display: flex;
    }
    .map-controls {
        margin-top: 10px;
    }
    .mat-icon {
        vertical-align: middle;
    }
    // .location {
    //     margin-top: 10px;
    //     text-align: center;
    // }
}
