<div class="container">
    <mat-list>
        <h3 mat-subheader>Logging observations</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>add_shopping_cartolder</mat-icon>
            <h4 mat-line>Muliple sightings logging</h4>
            <p mat-line>This will enable <i>Birders</i> to log multiple species at once</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Notes</h3>
        <mat-list-item>
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>Test</h4>
            <p mat-line>Test</p>
        </mat-list-item>
    </mat-list>

</div>