<div class="container">
  <div class="row">
    <div class='col-sm-1'>
      <!-- <p>Test</p> -->
    </div>
    <div class="col-sm-10">
      <div class="home-container">
        <h1>About Birder</h1>
      </div>
      <div>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">code</mat-icon>
              Technology
            </ng-template>

            <app-about-technology></app-about-technology>

          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">flight_takeoff</mat-icon>
              Features
            </ng-template>
            
            <app-about-features></app-about-features>

          </mat-tab>
        
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">flight_land</mat-icon>
              Features in development
            </ng-template>
        
            Content 3
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">thumb_up</mat-icon>
              Birder AI
            </ng-template>
        
            Content 4
          </mat-tab>
        </mat-tab-group>
        
      </div>

    </div>
    <div class='col-sm-1'>
      <!-- <p>Test</p> -->
    </div>
  </div>
</div>