<div class="container">
  <div class="row">
    <div class='col-sm-1'>
      <!-- <p>Test</p> -->
    </div>

    <div class="col-sm-10">
      <div class="home-container">
        <h1>About Birder</h1>
        <p><i>the social network for ornithologists</i></p>
      </div>
      <div>
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">code</mat-icon>
              Technology
            </ng-template>

            <app-about-technology></app-about-technology>
          </mat-tab>

          <!-- <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">help_outline</mat-icon>
              Contribute
            </ng-template>

            <app-about-contribute></app-about-contribute>
          </mat-tab> -->

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">flight_takeoff</mat-icon>
              Features
            </ng-template>

            <app-about-features></app-about-features>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">flight_land</mat-icon>
              Coming soon
            </ng-template>

            <app-about-features-development></app-about-features-development>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">chat</mat-icon>
              Get Involved
            </ng-template>

            <app-about-contact></app-about-contact>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">school</mat-icon>
              Birder AI
            </ng-template>

            <app-about-ai></app-about-ai>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>

    <div class='col-sm-1'>
      <!-- <p>Test</p> -->
    </div>
  </div>
</div>