app-about {
    .container {
        margin-top: 15px;
      }
    
      .section-title {
        margin-bottom: 20px;
      }
    
      .home-container {
        padding: 20px;
        text-align: center;
      }

      .example-tab-icon {
        margin-right: 8px;
      }

      mat-grid-tile {
        background: lightblue;
      }
}