<div class="followers-container">

    <h3>{{ username}}'s followers</h3>

    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
        <a mat-tab-link routerLink="/following/{{username}}">Following</a>
        <a mat-tab-link [active]="true">Followers</a>
    </nav>

    <ng-container *ngIf="followers$ | async as followers; else loadingOrError">
        <div *ngIf="followers.length">
            <div *ngFor="let user of followers">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!followers.length">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                You don't yet have any followers
            </ngb-alert>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container loading">
            <p><em>Loading followers...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>