<div class="following-container">

    <h3>{{ username}} follows</h3>

    <nav mat-tab-nav-bar mat-stretch-tabs class="stretched-tabs">
        <a mat-tab-link [active]="true">Following</a>
        <a mat-tab-link routerLink="/followers/{{username}}">Followers</a>
    </nav>

    <ng-container *ngIf="following$ | async as following; else loadingOrError">

        <div *ngIf="following.length">
            <div *ngFor="let user of following">
                <app-network-user [user]="user"></app-network-user>
            </div>
        </div>

        <div *ngIf="!following.length">
            <ngb-alert [dismissible]="false" class="d-block mt-3" type="info">
                You don't yet follow any <i>Birders</i>
            </ngb-alert>
        </div>

    </ng-container>

    <ng-template #loadingOrError>
        <ng-container *ngIf="errorObject; else loading">
            <app-error-display [error]="errorObject"></app-error-display>
        </ng-container>
    </ng-template>


    <ng-template #loading>
        <div class="container loading">
            <p><em>Loading following...</em></p>
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

</div>